.main-data-input {
    .form-border {
        border: solid blue 1px;
        padding: 1rem;
    }
    .form-height {
        height: 35rem;
    }
    .label-gap {
        padding-right: 0.5rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }    
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-vertical {
        margin-top: 0.5rem;
    }
    .message-style {
        display: table-cell;
    }    
    .tab-panel {
        padding-top: 1rem;
        height: 28rem;
        .tab1-panel {
            height: 26rem;
        }
        .tab2-panel {
            height: 26rem;
        }
        .tab3-panel {
            height: 26rem;
        }
    }
}