<div class="main-data-input">
  <label class="text-primary">
    <a class="label-gap" href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content5/data-main-input">
      <img [src]="githubLogoPath" width="16" height="16">
    </a>Multiple component data field validation example, collect the validation result for the parent Form.
  </label>
  <br>
  <form class="form-height form-border spacer-vertical" (ngSubmit)="onSubmit(formData)" #formData="ngForm" autocomplete="off"
    novalidate>
    <div>
      <p-tabMenu [model]="tabItems" [activeItem]="activeItem"></p-tabMenu>
    </div>
    <div class="tab-panel">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="customtextinput">Custom Text
          <span class="text-danger">*</span>
        </label>
        <app-text-input id="customtextinputm" name="customText" [(ngModel)]="customFormModel.customText"
          #customText="ngModel" [minlength]="minLength" [capital]="true" (onChanged)="onChanged($event)" (onBlur)="onBlur($event)"
          [required]="true">
        </app-text-input>
        <span class="text-danger col-md-2" *ngIf="customText && (customText.invalid && !customText.pristine)">
          <p *ngIf="customText?.errors?.required">Custom text is Required</p>
          <p *ngIf="customText.hasError('capital')">Must start with capital letter!</p>
          <p *ngIf="customText?.errors?.minlength">Minimum length is {{minLength}} !</p>
        </span>
      </div>
      <div  class="form-group row">
        <label class="col-md-2 col-form-label" for="customnumberinput">Custom number
        </label>
        <input id="customnumberinputm" class="input-style" type="number" name="customNumber" [(ngModel)]="customFormModel.customNumber" #customNumberInput="ngModel">
      </div>
      <div class="tab1-panel" [hidden]="tabIndex !== 0">
        <app-data-input1 [customFormModel]="customFormModel"></app-data-input1>
      </div>
      <div class="tab2-panel" [hidden]="tabIndex !== 1">
        <app-data-input2 [customFormModel]="customFormModel"></app-data-input2>
      </div>
      <div class="tab3-panel" [hidden]="tabIndex !== 2">
        <app-data-input3 [customFormModel]="customFormModel"></app-data-input3>
      </div>
    </div>
    <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onSetModel($event)">Set Model</button>
    <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onClearModel($event)">Clear Model</button>
    <button class="btn btn-primary spacer-horozontal-right" type="button" [disabled]="!activeItem" (click)="onUnselectTab($event)">Unselect Tab</button>
    <button class="btn btn-primary" type="submit" [disabled]="formData.invalid">Submit</button>
  </form>
  <div class="sub-topic" *ngIf="isSubmitted">
    <div class="form-model-content cols-xs-12">
      <b>Form Model</b>
      {{ customFormModel | json }}
    </div>
  </div>
  <lk-form-validation-monitor-v4 [mainFormGroup]="formData" topGap="2"></lk-form-validation-monitor-v4>
</div>