<app-masm-page-title></app-masm-page-title>
<div class="layout-masm-page">
    Microsoft Macro Assembler
    <div class="form">
        <div class="masm-description form-group">
            <div class="col-xs-12">
                This language was the first programming language what I started to learn .. My teacher was Ádám Pethő who wrote more books
                about IBM. PC. Assembler and MASM. At that time all files with pure natural assembly I compiled with MASM
                6.11 to link Link.exe and to made com file with exe2bin One day when I asked too much questions from Ádám
                Pethő I got an asm file from him named BIOS.ASM which was a BIG treasure at that time.
            </div>
        </div>
        <div>Some application what I made</div>
        <div class="masm-stuffs">
            <p-accordion [multiple]="false" (onOpen)="onTabOpen($event)">
                <p-accordionTab *ngFor="let srcFile of masmSourceFiles; let ix = index" id="files{{ix}}" header="{{srcFile}}" tabindex="{{ix}}">
                    {{masmSoureFileTitles[ix]}}
                    <app-text-display id="textDisplay{{ix}}" ix="ix" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="srcFile" [fileContent]="fileContent"
                        name="textDisplayName(ix)">
                    </app-text-display>
                </p-accordionTab>
            </p-accordion>
            <p class="masm-publications">I had some publication in Computer Panorama Magazine in July 1992, Feb 1995, Aug 1995</p>
        </div>
    </div>
</div>