<app-page-header pageTitle="MASM." pageSubtitle="Microsoft Macro Assembler" startTime="08/30/1983" endTime="12/31/1992"></app-page-header>
<div class="layout-masm-page">
    Microsoft Macro Assembler
    <div class="form">
        <div class="masm-description form-group">
            <div class="col-xs-12">
                This language was the first programming language what I started to learn .. My teacher was Ádám Pethő who wrote more books
                about IBM. PC. Assembler and MASM. At that time all files with pure natural assembly I compiled with MASM
                6.11 to link Link.exe and to made com file with exe2bin One day when I asked too much questions from Ádám
                Pethő I got an asm file from him named BIOS.ASM which was a BIG treasure at that time.
            </div>
        </div>
        <div>Some application what I made</div>
        <div class="masm-stuffs">
            <p-accordion (onOpen)="onTabOpen($event)">
                <li>NumConv converts values between numerical systems
                    <p-accordionTab header="numconv.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>RealDtTm shows and sets the real time clock date and time
                    <p-accordionTab header="realdttm.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>Anthem plays the Hungarian National Anthem in the background with PC speaker
                    <p-accordionTab header="anthem.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>CMRam reads and setup the CMOS RAM
                    <p-accordionTab header="cmram.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>VGACRT setups the VGA CRT M6811 chip which controls the monitor screen refresh etc.
                    <p-accordionTab header="vgacrt.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>Maker: simple demo, put the characters to random position and move the characters to the proper position
                    to show a readable text
                    <p-accordionTab header="maker.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>Prime prime number generator with file handling /reading and writing/
                    <p-accordionTab header="prime.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>Fs file search with recursive back-tracking algorythm
                    <p-accordionTab header="fs.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>Slow after the program runs stay resident under 1Ch interrupts, monitors the keyboard buffer and to Ctrl-left
                    Shift slows down the computer and Ctrl-right Shift increases the speed of the computer.
                    <p-accordionTab header="slow.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>PCINFO display gives internal information about your PC for example, 1st game ports, printer ports, DOS.
                    version (made 1987) RS232 cards, etc.
                    <p-accordionTab header="pcinfo.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <li>MS memory Spy displays the physical memory size with test. This little program contains a converter between
                    numerical systems
                    <p-accordionTab header="ms.asm" [selected]="false">
                        <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                            (textDisplayClosed)="textDisplayClosed($event)" name="textDisplay">
                        </app-text-display>
                    </p-accordionTab>
                </li>
                <p class="masm-publications">I had some publication in Computer Panorama Magazine in July 1992, Feb 1995, Aug 1995</p>
            </p-accordion>
        </div>
    </div>
</div>