<div class="pos-f-t fixed-top header">
  <nav class="navbar navbar-light navbar-toggleable-md fixed-top">
    <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <label id="page_title" class="text-center">my professional experience in the last {{years}} years at various companies</label>
    <a href="javascript:void(0)" class="nav-link mt-1" style="padding: 0.375rem 1rem !important; border-color: #999; color:#999;" (click)="moveRltAndLtr()">RTL/LTR</a>
  </nav>
</div>
