.layout-angular-playground-page12 {
    .angular-playground-description {
        padding: 0.5Rem;
    }
    .sub-topic {
        padding: 1Rem;
    }
    .horizontal-gap-right {
        padding-right: 0.5rem;
    }
    .horizontal-gap-left {
        padding-left: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .form-border {
        border: solid blue 1px;
        padding: 1rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    .invalid-marker {
        border: 1px solid red;
        background-color: red;
    }
    .spacer-vertical-above {
        margin-top: 0.5rem;
    }
    .spacer-vertical-below {
        margin-bottom: 0.5rem;
    }
    .show-invalid-feedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }
    .struct-main {
        display: list-item;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .struct-sub {
            display: list-item;
            padding-left: 1rem;
        }
    }
    .user-role-list {
        font-size: 1rem;
        border: solid blue 1px;
        p-dropdown::ng-deep {
            .ui-dropdown {
                width: 100% !important;
            }
        }
        p-calendar::ng-deep {
            .ui-inputtext {
                width: 100% !important;
            }
        }
    }
    .table-header {
        font-weight: bold;
        border-bottom: solid blue 1px;
    }
    .form-data {
        padding-top: 0.5rem;
    }
    .buttons-area {
        left: 0rem;
        padding-top: 1rem;
    }
    .form-data-area {
        position: relative;
        top: 6rem;
        left: 0rem;
        padding-bottom: 1rem;
    }
    .trash-icon-style {
        vertical-align: middle;
        cursor: pointer;
    }
}