<div class="layout-angular-playground-page6">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last or just which
      interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #6</b> Multiple part validation of nested components on a reactive (formerly Model-Driven) Form
      <br>
      <label class="text-primary">
        <a class="label-gap"
          href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content6">
          <img [src]="githubLogoPath" width="16" height="16">
        </a>Multiple component data field validation example, with Reactive (formerly Model-driven) form, collect the
        validation result for the parent Form.
      </label>
      <br>
      We have a main form, which contains a Form. The Form contains a Tab component with three Tabs, each Tab
      contains one component. Each component on the Tabs contains various data fields. Some data field is
      mandatory. You must complete all mandatory fields on the Main form and on each Tab for submitting the form data!
      More robust Forms where there are a lot of data input fields or tabs, the Reactive (formerly Model-Driven) Form is
      better. See the structure below.
      <label>See the structure below</label>
      <div class="struct-main">
        <label>MainFormComponent - app-main-form</label>
        <label class="struct-sub">SubForm1Component - app-sub-form1 on Tab Sheet #1</label>
        <label class="struct-sub">SubForm2Component - app-sub-form2 on Tab Sheet #2</label>
        <label class="struct-sub">SubForm3Component - app-sub-form3 on Tab Sheet #3</label>
      </div>
      <div>
        <app-main-form [customForm]="customForm"></app-main-form>
      </div>
    </div>
    <lk-form-validation-monitor-v4 [mainFormGroup]="customForm"></lk-form-validation-monitor-v4>
  </div>
</div>
<!--p-dialog [modal]="true" [showHeader]="false" class="modal-dialog" [closable]="false" [(visible)]="enableWait"
  [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="dialog-content-center">
    <i class="fa fa-cog fa-spin dialog-content-center" style="font-size:72px"></i>
    <label>Validating...</label>
  </div>
</p-dialog-->