.layout-angular-playground-page6 {
    .angular-playground-description {
        padding: 0.5Rem;
    }
    .label-gap {
        padding-right: 0.5rem;
    }
    .sub-topic {
        padding: 1Rem;
    }
    .form-border {
        border: solid blue 1px;
        padding: 1rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-vertical {
        margin-top: 0.5rem;
    }
    .message-style {
        display: table-cell;
    }
    .struct-main {
        display: list-item;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .struct-sub {
            display: list-item;
            padding-left: 1rem;
        }
    }
}