<div>
  <p>RPN. Calculator</p>
  <p>
    My first project was a simple calculator which was written in Objective-C language.<br>
    The calculator is an RPM. based (Reverse Polish Notation) calculator, which dissolve brackets in the arithmetic expression and the calculator engine, also contains an expression tree builder, which based on significant weighting of the arithmetic operations.
    <br><br>
    See below the Calculatror's UI. screenshots<br><br>
    <span class="images">
      <img class="img-fluid" *ngFor="let imagePath of imagePathArray"
       [src]=imagePath>
    </span>
  </p>

</div>
