<div class="layout-csharp-page">
    <div class="form">
        Microsoft Official Courses
        <div class="csharp-description form-group">
            <div class="col-xs-12">
                The first encounter with the C# begins when the company (Amkai LLC.) where I was working at that time, offered me to attend
                on some Microsoft Official courses.
            </div>
        </div>
        <div class="csharp-courses">
            <li>#2124 programming with C#</li>
            <li>#2349 BC programming with the Ms .NET framework with C#</li>
            <li>#2524 B XML web service using Ms ASP.NET).</li>
        </div>
        <div class="footer-description">My first application in C# was a primitive Calculator it wasn't an RPM. based, it doesn't use precedence rules, and
            not built expression tree.</div>
    </div>
</div>