<div>
    <app-page-header pageTitle="Awards & Certificates" pageSubtitle="a non-exhaustive list includes some awards and certificates" startTime="02/02/1998" endTime=""></app-page-header>
    <div class="awards-page-layout">
        <div class="separate-block">
            <label class="label-title">2018 ~ 20 years of Service</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/certificate-of-recognition20years.png"
                    alt="20 years in service" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2016 ~ Caught at your best Q4</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/caught-at-your-best-2016-q4.png"
                    alt="cought at your best q4 2016" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2015 ~ Caught at your best Q4</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/caught-at-your-best-2015-q4.png"
                    alt="cought at your best q4 2015" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2014 ~ ICAGILE Certificate</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/icagile-cert2014.png" alt="ICAGILE Cert"
                    border="0">
            </div>
        </div>
        <div class="separate-block">
                <label class="label-title">2004 ~ Stock Options series A</label>
                <div>Later I got more thousands of stock options when the company acquired by another company then I enjoyed the monetary amounts of that. So that has been paid out.</div>
                <div class="align-image">
                    <img class="img-responsive" src="assets/images/StockOptions1050A.png" alt="StockOptions">
                </div>
            </div>
        </div>
</div>