.layout-page-header {
    .layout-page-title {
        font-size: 1rem;
        font-weight: bold;
        padding-right: 0.5rem;
    }
    .layout-page-subtitle {
        font-size: 0.8rem;
        font-weight: normal;
    }
    .layout-page-duration {
        font-size: 1rem;
        font-style: italic !important;
    }
    .layout-page-description {
        padding-left: 1rem;
    }
}