<div class="signup-signin-layout">
    <form (ngSubmit)="onSubmit(mainForm)" [formGroup]="mainForm" novalidate autocomplete="off">
        <div>
          <label class="text-primary">
            <a class="spacer"
                href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/signup-signin">
                <img [src]="githubLogoPath" width="16" height="16">
            </a>Sign-Up/Sign-In component parent page (this page)
        </label>          
        </div>
        <div class="form-group row mb-2">
            <label class="col-sm-2 col-form-label" for="userName">User Name
              <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
              <input class="form-control" id="userName" type="text" placeholder="User Name"
                formControlName="userName" [ngClass]="{'is-invalid': (mainForm?.get('userName').touched ||
                  mainForm?.get('userName').dirty) &&
                  !mainForm?.get('userName').valid }" />
              <span class="invalid-feedback">
                <span *ngIf="mainForm?.get('userName').errors?.required">
                  Please enter a User name!
                </span>
                <span *ngIf="mainForm?.get('userName').errors?.minlength">
                  The User name must be longer than {{ userNameMin }} characters!
                </span>
                <span *ngIf="mainForm?.get('userName').errors?.maxlength">
                    The User name must be shorter than {{ userNameMax }} characters!
                </span>
              </span>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <ng-container [ngSwitch]="operationKind">
            <div *ngSwitchCase="signupOrSignin.SIGNUP" formGroupName="passwordGroup">
                <div class="form-group row mb-2">
                  <label class="col-sm-2 col-form-label" for="password">Password
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-sm-6">
                    <input class="form-control" id="password" type="password" placeholder="Password (required)"
                      formControlName="password" autocomplete="off"
                      [ngClass]="{'is-invalid': mainForm?.get('passwordGroup').errors ||
                        ((mainForm?.get('passwordGroup.password').touched ||
                        mainForm?.get('passwordGroup.password').dirty) && 
                        !mainForm?.get('passwordGroup.password').valid) }" 
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="mainForm?.get('passwordGroup.password').errors?.required">
                        Please enter your Password.
                      </span>
                      <span *ngIf="mainForm?.get('passwordGroup.password').errors?.pattern">
                        Please enter a valid Password, Min 8 chars minimum one number and letter and special character.
                      </span>
                      <span *ngIf="mainForm?.get('passwordGroup').errors?.notidentical">
                        Both password does not identical.
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                <div class="form-group row mb-2">
                  <label class="col-sm-2 col-form-label" for="confirmPassword">Confirm Password
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-sm-6">
                    <!-- ref for X : https://mdbootstrap.com/docs/jquery/forms/validation/ -->
                    <input class="form-control" id="confirmPassword" type="password"
                      placeholder="Confirm Password (required)" formControlName="confirmPassword" autocomplete="off"
                      [ngClass]="{'is-invalid': mainForm?.get('passwordGroup').errors ||
                        ((mainForm?.get('passwordGroup.confirmPassword').touched ||
                        mainForm?.get('passwordGroup.confirmPassword').dirty) && 
                        !mainForm?.get('passwordGroup.confirmPassword').valid) }" 
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="mainForm?.get('passwordGroup.confirmPassword').errors?.required">
                        Please confirm your Password.
                      </span>
                      <span *ngIf="mainForm?.get('passwordGroup.confirmPassword').errors?.pattern">
                        Please enter a valid Password, Min 8 chars minimum one number and letter and special character.
                      </span>
                      <span *ngIf="mainForm?.get('passwordGroup').errors?.notidentical">
                        Both password does not identical.
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
            </div>
            <div *ngSwitchCase="signupOrSignin.SIGNIN">
                <div class="form-group row mb-2">
                  <label class="col-sm-2 col-form-label" for="password">Password
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-sm-6">
                    <input class="form-control" id="password" type="password" placeholder="Password (required)"
                      formControlName="password" autocomplete="off"
                      [ngClass]="{'is-invalid': mainForm?.get('password').errors ||
                        ((mainForm?.get('password').touched ||
                        mainForm?.get('password').dirty) && 
                        !mainForm?.get('password').valid) }" 
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="mainForm?.get('password').errors?.required">
                        Please enter your Password.
                      </span>
                      <span *ngIf="mainForm?.get('password').errors?.pattern">
                        Please enter a valid Password, Min 8 chars minimum one number and letter and special character.
                      </span>
                    </span>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
            </div>            
          </ng-container>
          <button class="btn btn-primary" type="button" (click)="onClear(mainForm)">Clear</button>
          <button class="btn btn-primary left-gap" type="submit" [disabled]="mainForm.invalid">Submit</button>
    </form>
</div>
