<p>The story began with <a href="http://www.oracle.com/technetwork/java/javaee/downloads/index.html">J2EE</a>.
development, when I found the website of <a href="http://www.javapassion.com/portal/">Java
  Passion</a> which was edited by Sang Shin.<br>
I took part in course from autumn 2007&nbsp; to spring 2008 <a href="http://www.javapassion.com/portal/images/certificates/javaee/session13/LaszloKovari.pdf">13th
  course</a>. (<a href="http://www.uzemanyagfogyasztas.hu/lk/j2ee/graduates-of-java-ee-programming-basics-i-with-passion-course.htm">archived origin graduate</a>)<br>
When I finished the course I started more projects with my colleagues and friends, but I never finished those by external reasons.<br><br>
</p>
