<div class="display-status-content">
    <label class="vertical-gap text-primary">Status of the NgModel Properties of FormControls on a form</label>
    <div class="row message-style">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Property name</th>
                <th *ngFor="let ctrlName of extractFormControlKeys()" class="text-dark">{{ ctrlName }}</th>
                <th class="text-dark">Form</th>
            </tr>
            <tr *ngFor="let statusKey of formControlStatusKeys">
                <td class="property-name-uppercase"><b>{{ statusKey }}</b></td>
                <!-- Display control values -->
                <td *ngFor="let ctrlKey of extractFormControlKeys()">
                    <span [style.color]="getStyleColor(statusKey, extractFormElementByKey(ctrlKey)[statusKey])">
                        <em>{{ extractFormElementByKey(ctrlKey)[statusKey] }}</em>
                    </span>
                </td>
                <!-- Display main form group status -->
                <td>
                    <span [style.color]="getStyleColor(statusKey, extractFormGroupPropertyValueByKey(statusKey))">
                        <em> {{ extractFormGroupPropertyValueByKey(statusKey) | json }}</em>
                    </span>

                </td>
            </tr>
        </table>
    </div>
</div>