<p>Microsoft Official Courses</p>
<p>The first encounter with the C# begins when the company (Amkai LLC.) where I was working, offered me to attend on a Microsoft courses.</p>
&nbsp;-&nbsp;#2124 programming with C#<br>
&nbsp;-&nbsp;#2349 BC programming with the Ms .NET framework with C#<br>
&nbsp;-&nbsp;#2524 B XML web service using Ms ASP.NET).<br><br>

<p>My first application in C# was a primitive Calculator it wasn't an RPM. based, it doesn't use precedence rules, and build expression tree.</p>


