<div class="rpn-calc-layout">
  <p>RPN. Calculator</p>
  <div class="sub-topic">
    <p>Here is the runnable <a href="assets/bigfiles/RPNCalc.zip">RPNCalc.zip</a> file with full source code.</p>
    <p>After uncompress it, you will get</p>
    <ul>
      <li>RPNCalc.jar file with full source code</li>
      <li>RPNCalcStarter.cmd</li>
    </ul>
    <p>Do not FORGET please, an installed 
      <a href="https://docs.aws.amazon.com/corretto/latest/corretto-11-ug/downloads-list.html">Java</a>
     is required to run RPNCalc.jar!</p>
  </div>
  <p>The development of this calculator is not finished yet, the basis of it is working but still it is not an exhaustive implementation.</p>
  <p>You can see the UI. below</p>  
  <div>
    <img id="calcui" class="img-responsive" src="./assets/images/dev-j2se-calc01.jpg">
  </div>
</div>
