<div class="singleton-pattern-layout">
    <b>Use Case</b>
    <li>Sometimes you need an object in an application where there is only one instance in the system/project. We often prefer singletons to global variables because they don't create static variables in the global namespace (they only have a static instance within their own class), and they allow "lazy" initialization and don't come when the program starts create all as for global variables.</li>
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="assets/images/dp_singleton_uml.png" class="img-responsive" alt="Singleton UML">
</div>
