// I know, all scss code I would have been covered with the main scss form class to prevent to overwrite the formerly declared classes
.aboutme_wrapper {
  background-color: #f2e6d9;
}

.img-responsive {
  width: auto;
  height: auto;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  shape-outside:circle();
}

.img-responsive-right {
  width: auto;
  height: auto;
  float: right;
  margin-left:3rem;
  border-radius:25%;
  shape-outside:circle();
 
}

.txt {
  line-height: 150%;
  text-align: justify;
  margin: 2% 2% 2% 2%;
  text-indent: 2em;
}

#my-cv {
  color: black;
  font-style: italic;
}

#copyright-msg {
  color: red;
}
