
.layout-j2se-page {
    .layout-j2se-description-title {

    }
    .layout-j2se-description {
        margin-top: 1rem;
    }
    .layout-j2se-carousel {
        padding-top: 1rem;
        text-align: -webkit-center;
        margin: auto;        
        .carousel-caption {
            color: #392613;
        }
    }
}

