<div class="builder-pattern-layout">
    <b>Description</b>
    <div (click)="isEnglish = !isEnglish">
        <li *ngIf="isEnglish">Separate the construction of a complex object from its representation so that the same construction process can create different representation.</li>
        <li *ngIf="!isEnglish">Az összetett objektumok felépítését függetleníti az ábrázolásuktól, így ugyanazzal az építési folyamattalkülönböző ábrázolásokathozhatunk létre.</li>
    </div>    
    <b>Use Case</b>
    <li>Use the Builder Pattern if you need to create a complex object instance, which is part of a lot of elements of the more complex object instance.</li>        
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="assets/images/dp_builder_uml.png" class="img-responsive" alt="Builder UML">
</div>

