<div class="layout-j2se-datetimepicker-page">
    <div class="form">
        <label>Date and Time Picker Compoent</label>
        <div class="j2se-datetimepicker-description form-group">
            <label class="row">
                My first component was an Analog clock component. After I make a date selector component, when I made of that, I melted those
                into one component, Date & Time picker component.
            </label>
            <label class="row">See below the Calculatror's UI. screenshots</label>
            <span class="row images">
                <img class="img-fluid" *ngFor="let imagePath of imagePathArray" [src]=imagePath>
            </span>
        </div>
    </div>
</div>