<div class="layout-j2se-datetimepicker-page">
    <p>Date and Time Picker Compoent</p>
    <div class="sub-topic">
      <p>Here is the runnable <a href="assets/bigfiles/AnalogClock.zip">AnalogClock.zip</a> file with full source code which is the basis of the component.</p>
      <p>After uncompress it, you will get</p>
      <ul>
        <li>AnalogClock.jar file with full source code</li>
        <li>AnalogClockStarter.cmd</li>
      </ul>
      <p>Do not FORGET please, an installed 
        <a href="https://docs.aws.amazon.com/corretto/latest/corretto-11-ug/downloads-list.html">Java</a>
       is required to run RPNCalc.jar!</p>
    </div>
    <p>My first component was an Analog clock component. After I make a date selector component, when I made of that, I melted those into one component, Date & Time picker component.</p>
    <p>You can see some screen-shots berlow</p>  
    <div>
        <img class="img-responsive" *ngFor="let imagePath of imagePathArray" [src]=imagePath>
    </div>
  </div>