.layout-j2ee-wordbook-page {
    .j2ee-wordbook-description {
        padding: 0.5Rem;
        .img-fluid {
            padding-top: 0.5rem;
            margin-right: 40px;
            margin-bottom: 40px;
          }        
    }
}