<div class="prototype-pattern-layout">
    <b>Use Case</b>
    <li>When instantiation is a costly process for some reason, so it's much more worthwhile to create an instance and then just copy it. The prototype is something like the factory only, with an initial sample, we specify what we would like to produce and do not by choosing one of the derived classes of the factory method.</li>        
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="assets/images/dp_prototype_uml.png" class="img-responsive" alt="Prototype UML">
</div>
