<div class="layout-angular-playground-page">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular 2+ source code snippets, what I learned at last or just which interested
      for me.
    </div>
    <div class="sub-topic">
      <b>Act #1</b> Custom Input Component with Validation
    </div>
    <div class="sub-topic">
      <b>Some days ago</b> I faced the following problem in my workplace, how can I include custom components into NgForm validation
      mechanism. I wanted to see the custom component as a
      <a href="https://angular.io/api/forms/FormControl">FormControl</a> in the collection of controls of form, and would like to see it is participated in the Form validation
      mechanism. I spent some time with investigate how can I do that, I found in the Angular documentation the
      <a href="https://angular.io/api/forms/ControlValueAccessor">ControlValueAccessor</a> interface.
      <p>
        <mark>I saw it clearly,</mark> during my working time, I have no time for create an example project for it and practicing
        this technology, how can I implement correctly the
        <a href="https://angular.io/api/forms/ControlValueAccessor">ControlValueAccessor</a>, therefore in my spare time (usually at night) I spent some time for create the following
        examples.
      </p>
      At first I created a simple input component the class name of it
      <i>TextInputComponent</i> whic is the plain usage of the
      <a href="https://angular.io/api/forms/ControlValueAccessor">ControlValueAccessor</a>
      the selector of the component is
      <i>'app-text-input'</i>.
    </div>
    <div class="sub-topic">
      <b>Act #2</b> Custom Date Component I wrapped a third party
      <a href="https://www.primefaces.org/primeng/#/calendar">Calendar</a> component which created by
      <a href="https://www.primefaces.org/primeng/#/">PrimeNG</a>.
    </div>
    <div class="sub-topic">
      The class name of this component is
      <i>DateCalendarComponent</i> the selector of this component is
      <i>'app-date-calendar'</i>. I took a look to the
      <a href="https://www.primefaces.org/primeng/#/">PrimeNG</a>
      source code, and I noticed the original third party component is also implemented the
      <a href="https://angular.io/api/forms/ControlValueAccessor">ControlValueAccessor</a>. Of course I know to wrap a component without good cause, is a dangerous venture, because
      the developer should consider what parameters move to the wrapper component and what not.
      <mark>I should also mention, although this is not an exhaustive implementation but the aspect of implementation of the
        <a href="https://angular.io/api/forms/ControlValueAccessor">ControlValueAccessor</a>
        it will be good.</mark>>
    </div>
    <div class="sub-topic">
      <b>Act #3</b> A simple Form with the Components
      <i>"TextInputComponent"</i> and
      <i>"DateCalendarComponent"</i> which I mentioned above.
    </div>
    <div class="sub-topic">
      I just created a simple form with two input fields, one of is the text input component and the another is the date calendar
      component. The Submit button will enable if the form is valid which means, the fields content is mathed with validation
      rules. On the form there are two another button titled
      <span class="text-primary">"Set Data"</span> and
      <span class="text-primary">"Clear Data"</span> which call the appropriate function in the .ts file.
      <div class="sub-topic">
        <span class="text-primary">The validation rules are the following</span> the
        <span class="text-warning">text field and date field are required</span> so with other word mandatory. The text field has another rules,
        <span class="text-warning">minimum length is {{minLength}} characters and the first character should be capital letter</span>.
      </div>
      <div class="form-border">
        <label class="text-primary">Form Validation example</label>
        <br>
        <form (ngSubmit)="onSubmit(formData)" #formData="ngForm" novalidate>
          <div class="form-group">
            <label for="appcalendardate">Custom Date
              <span class="text-danger">*</span>
            </label>
            <app-date-calendar id="appcalendardate" [(ngModel)]="customDate" [showIcon]="true" showButtonBar="true" class="calendar-style"
              placeholder="mm/dd/yyyy" selectOtherMonths="true" dateFormat="mm/dd/yy" #appcalendardate="ngModel" name="appcalendardate"
              required="true">
            </app-date-calendar>
            <div *ngIf="appcalendardate && (appcalendardate.invalid && appcalendardate.dirty)" class="text-danger">
              <small>Custom date is required!</small>
            </div>
          </div>
          <div class="form-group">
            <label for="textinput">Custom Text
              <span class="text-danger">*</span>
            </label>
            <app-text-input id="textinput" name="textinput" [(ngModel)]="customText" #textinput="ngModel" [minlength]="7" [capital]="true"
              required>
            </app-text-input>
            <span class="text-danger" *ngIf="textinput && (textinput.invalid && !textinput.pristine)">
              <p *ngIf="textinput.errors.required">Custom text is Required</p>
              <p *ngIf="textinput.errors.capital">Must start with capital letter!</p>
              <p *ngIf="textinput.errors.minlength">Minimum length is {{minlength}} !</p>
            </span>
          </div>
          <button class="btn btn-primary" type="button" (click)="setValues(formData)">Set Data</button>
          <button class="btn btn-primary" type="button" (click)="clearValues(formData)">Clear Data</button>
          <button class="btn btn-primary" type="submit" [disabled]="formData.invalid">Submit</button>
        </form>
      </div>
      <div class="sub-topic">
        The
        <i>setValues(form)</i> and
        <i>clearValues(form)</i> these methodes contains a good example how can we load the data into fields of the form, before show the form UI. and
        how can we clear the fields.
      </div>
    </div>
  </div>
</div>