.data-input-layout3 {
    padding-top: 1rem;
    height: 14.7rem;
    border: solid blue 1px;
    padding: 1rem;
    .label-gap {
        padding-right: 0.5rem;
    }
    .vertical-gap {
        padding-top: 1rem;
    }
}