<div class="mediator-pattern-layout">
    <b>Description</b>
    <div (click)="isEnglish = !isEnglish">
        <li *ngIf="isEnglish">Define an object that encapsulates how a set of objects interact.Mediator promotes loose coupling by keeping objects from referring toeach other explicitly, and it lets you vary their interactionindependently.</li>
        <li *ngIf="!isEnglish">Egy objektumot határoz meg, amely objektumok egy halmazának együttműködését irányítja.( vagyis ezeket egyetlen objektumba tokozzuk be. ) A módszerrel laza csatolást hozunk létre, amelyben az egyes objektumok közvetlenül nem hivatkoznak egymásra, a köztük lévő kapcsolatok pedig egymástól függetlenül módosíthatóak.</li>
    </div>    
    <b>Use Case</b>
    <div>
        <li>We should use the mediator pattern when – reusing an object is not feasible because it refers to can communicates with many other objects; also, we should use the mediator design pattern when we don’t want to customize a behaviour that is distributed between several classes using the method of sub classing.</li>
    </div>
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true"
        [ngModel]="pattern"
        resize="both"
        [rows]="numOfTextRows">
    </textarea>
    <b>UML</b>
    <img src="assets/images/dp_mediator_uml.png" class="img-responsive" alt="Mediator UML">
</div>