<div class="layout-angular-playground-page5">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular 2+ source code snippets, what I learned at last or just which
      interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #2.3</b> Multiple part validation of nested components on a Template Driven Form
      <br>
      We have a main form, which contains a Form. The Form contains a Tab component with three Tab Sheets, each Tap Sheet contains one component.
      On each component on the Tab Sheets contains various data fields. Some data field is mandatory. You must complete all mandatory fields on the Main form and on each Tab for submit!
      This solution is enough for small Forms, but more robust Forms where there are a lot of data input fields or table mazbe the Model Driven Form (Reactive form) is better.
      When the form initialized it initializes the components also below the tabs, because the ngSwitch I used.
      <label>See the structure below</label>
      <div class="struct-main">
        <label>DataMainInputComponent - app-data-main-input</label>
        <label class="struct-sub">DataInput1Component - app-data-input1 on Tab Sheet #1</label>
        <label class="struct-sub">DataInput2Component - app-data-input2 on Tab Sheet #2</label>
        <label class="struct-sub">DataInput3Component - app-data-input3 on Tab Sheet #3</label>
      </div>
      <app-data-main-input [customFormModel]="customFormModel"></app-data-main-input>
    </div>
  </div>
</div>