<div class="layout-angular-playground-page1">
    <div class="angular-playground-description form-group">
        <div class="col-xs-12">
            This page is a
            <b>playground</b>, I show on this page Angular 2+ source code snippets, what I learned at last or just which
            interested in, for me.
        </div>
        <div class="sub-topic">
            <b>Act #0</b> Basic Template-Driven form with validation
        </div>
        <div class="sub-topic">
            <div class="sub-topic">
                This is a simple data entry form with three fields (Brand name, wheels, model year), which represent a
                vehicle.
            </div>
            <div class="sub-topic">
                <b>The validation rules</b> of fields are the following
                <ul>
                    <li><b>User name</b> is required, minimum length is {{ userNameMinLength }} maximum length is
                        {{ userNameMaxLength }}</li>
                    <li><b>Email</b> a valid email address required! Used build-in email validator.</li>
                    <li><b>Phone number</b> a valid US. phone number is required! Used regular expression pattern.</li>
                </ul>
            </div>
            <div class="data-entry-form">
                <form (ngSubmit)="onSubmit(dataEntryForm)" #dataEntryForm="ngForm" novalidate>
                    <div class="form-group">
                        <label class="spacer" for="userName">User name
                            <span class="text-danger">*</span>
                        </label>
                        <input id="userName" name="userName" [(ngModel)]="user.userName" #userName="ngModel" autocomplete="false"
                            required minlength="{{userNameMinLength}}" maxlength="{{userNameMaxLength}}">
                        <div *ngIf="userName && (userName.invalid && userName.dirty)" class="text-danger">
                            <p *ngIf="userName.errors.required">Value is required!</p>
                            <p *ngIf="userName.hasError('minlength')">Min length is {{ userNameMinLength }}!
                            </p>
                            <p *ngIf="userName.errors.maxlength">Max length is {{ userNameMaxLength }}!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="spacer" for="email">Email
                            <span class="text-danger">*</span>
                        </label>
                        <input id="email" type="string" name="email" [(ngModel)]="user.email" #email="ngModel"
                            required email>
                        <div *ngIf="email && (email.invalid && email.dirty)" class="text-danger">
                            <p *ngIf="email.errors.required">Email is required!</p>
                            <p *ngIf="email.errors.email">Please type a valid email!</p>
                        </div>                            
                    </div>
                    <div class="form-group">
                        <label class="spacer" for="phone">Phone number
                            <span class="text-danger">*</span>
                        </label>
                        <input id="phone" name="phone" [(ngModel)]="user.phone"
                            #phone="ngModel" required pattern="{{usPhoneNumberPattern}}">
                        <div *ngIf="phone && (phone.invalid && phone.dirty)" class="text-danger">
                            <p *ngIf="phone.errors?.required">Phone is required!</p>
                            <p *ngIf="phone.errors?.pattern">Please type a valid US. phone number without ext!</p>
                        </div>                              
                    </div>
                    <button class="btn btn-primary spacer" type="button" (click)="setValues(dataEntryForm)">Set Data</button>
                    <button class="btn btn-primary spacer" type="button" (click)="clearValues(dataEntryForm)">Clear Data</button>
                    <button class="btn btn-primary" type="submit" [disabled]="dataEntryForm.invalid">Submit</button>                    
                </form>
                <label class="vertical-gap"><u>Status of the FormControls</u></label>
                <div class="row message-style">
                    <table>
                    <tr>
                        <th *ngFor="let ctrlName of extractFormControlKeys()">{{ ctrlName }}</th>
                    </tr>
                    <tr *ngFor="let statusKey of formControlStatusKeys">
                        <td *ngFor="let ctrlKey of extractFormControlKeys()">
                                {{ statusKey }} : {{ extractFormControlByKey(ctrlKey)[statusKey] }}
                        </td>
                    </tr>
                    </table>                    
                </div>
                <label class="vertical-gap"><u>Status of the Form</u></label>
                <div class="form-status-style">
                    <div *ngFor="let key of formControlStatusKeys">{{ key }}:
                        <label class="spacer-horozontal-left spacer-horozontal-right">{{ extractFormGroupValueByKey(key) | json }}</label>
                    </div>
                </div>
                <div>
                    <label>Submitted form data:</label> {{ submittedFormData | json }}
                </div>
            </div>
        </div>
    </div>
</div>