.layout-angular-playground-page1 {
    .angular-playground-description {
        padding: 0.5Rem;
    }
    .data-entry-form {
        border: solid blue 1px;
        padding: 1rem;
    }
    .sub-topic {
        padding: 0.5Rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    .spacer {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-vertical {
        margin-top: 0.5rem;
    }
    .message-style {
        display: table-cell;
    }    
}