<div class="layout-angular-playground-page7">
  <div class="angular-playground-description form-group">
    <div class="col-sm-12">
      This page is a
      <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last or just which
      interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #6</b>
      <label class="text-primary">
        <a class="horizontal-gap-left horizontal-gap-right"
          href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content7">
          <img [src]="githubLogoPath" width="16" height="16">
        </a>Dynamically created forms in a list, like as the table, each row is a form (in a FormArray) which
        participate in the main form validation.
      </label>
      <br>
      We have a main form, which contains Role rows. Each row is a form. The Form contains a column header and below it
      the rows. I used Reactive Forms technology (formerly Model-Driven Form) to show the UI. Currently, just three user
      role rows allowed to add.
      <div class="sub-topic">
        <b>The validation rules</b> of fields are the following
        <ul>
          <li class="struct-sub">The User Name is mandatory, minimum length is {{ userNameMinLength }}</li>
          <li class="struct-sub">The passwords requires one uppercase and lowercase letters, one digits, and one
            special characters. There must be a minimum of 8 characters total, and no white space characters are
            allowed.</li>
          <li class="struct-sub">RoleType and ModuleType is mandatory on each row which added</li>
          <li class="struct-sub">Doesn't allow duplicated rows! Where the RoleType and ModuleType are same, it is
            duplicated rows, # of max rows is 3</li>
          <li class="struct-sub">The description maximum length is {{ descriptionMaxLength }} characters.</li>
        </ul>
      </div>
      <div class="user-form form-border form-height">
        <form (ngSubmit)="onSubmit(mainForm)" [formGroup]="mainForm" novalidate autocomplete="off">
          <div class="form-group row mb-2">
            <label class="col-sm-2 col-form-label" for="userName">User Name
              <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
              <input class="form-control" id="userName" type="text" placeholder="user name required"
                formControlName="userName" [ngClass]="{'is-invalid': (mainForm.get('userName').touched ||
                  mainForm.get('userName').dirty) &&
                  !mainForm.get('userName').valid }" />
              <span class="invalid-feedback">
                <span *ngIf="mainForm.get('userName').errors?.required">
                  Please enter a User name!
                </span>
                <span *ngIf="mainForm.get('userName').errors?.minlength">
                  The User name must be longer than {{ userNameMinLength }} characters!
                </span>
              </span>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group row mb-2">
              <label class="col-sm-2 col-form-label" for="password">Password
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-6">
                <input class="form-control" id="password" type="password" placeholder="Password (required)"
                  formControlName="password" autocomplete="off"
                  [ngClass]="{'is-invalid': mainForm.get('passwordGroup').errors ||
                    ((mainForm.get('passwordGroup.password').touched ||
                    mainForm.get('passwordGroup.password').dirty) && 
                    !mainForm.get('passwordGroup.password').valid) }" 
                />
                <span class="invalid-feedback">
                  <span *ngIf="mainForm.get('passwordGroup.password').errors?.required">
                    Please enter your Password.
                  </span>
                  <span *ngIf="mainForm.get('passwordGroup.password').errors?.pattern">
                    Please enter a valid Password, Min 8 chars minimum one number and letter and special character.
                  </span>
                  <span *ngIf="mainForm.get('passwordGroup').errors?.notidentical">
                    Both password does not identical.
                  </span>
                </span>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <div class="form-group row mb-2">
              <label class="col-sm-2 col-form-label" for="confirmPassword">Confirm Password
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-6">
                <!-- ref for X : https://mdbootstrap.com/docs/jquery/forms/validation/ -->
                <input class="form-control" id="confirmPassword" type="password"
                  placeholder="Confirm Password (required)" formControlName="confirmPassword" autocomplete="off"
                  [ngClass]="{'is-invalid': mainForm.get('passwordGroup').errors ||
                    ((mainForm.get('passwordGroup.confirmPassword').touched ||
                    mainForm.get('passwordGroup.confirmPassword').dirty) && 
                    !mainForm.get('passwordGroup.confirmPassword').valid) }" 
                />
                <span class="invalid-feedback">
                  <span *ngIf="mainForm.get('passwordGroup.confirmPassword').errors?.required">
                    Please confirm your Password.
                  </span>
                  <span *ngIf="mainForm.get('passwordGroup.confirmPassword').errors?.pattern">
                    Please enter a valid Password, Min 8 chars minimum one number and letter and special character.
                  </span>
                  <span *ngIf="mainForm.get('passwordGroup').errors?.notidentical">
                    Both password does not identical.
                  </span>
                </span>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>
          <div class="table-responsive-sm user-role-list">
            <label class="spacer-vertical-above spacer-horozontal-left">Role List
              #{{ getUserRoleControls().length }}</label>
            <table class="table spacer-vertical-above" formArrayName="userRoles">
              <thead>
                <tr>
                  <th>
                    User Role<span class="text-danger">*</span>
                  </th>
                  <th>
                    Modul<span class="text-danger">*</span>
                  </th>
                  <th>
                    Expire
                  </th>
                  <th>
                    Description
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userRole of getUserRoleControls(); let ix = index" [formGroupName]="ix">
                  <td>
                    <p-dropdown id="{{'roleType' + ix}}" class="form-group" [options]="roleTypes"
                      formControlName="roleType" editable="true" [showClear]="true" [editable]="false"
                      placeholder="Select a RoleType" tabindex="calcTabIndex(ix, 0)" [required]="true">
                    </p-dropdown>
                    <span *ngIf="isUserFieldInvalid(userRole, 'roleType')">
                      <span class="show-invalid-feedback">
                        Please select User Role.
                      </span>
                    </span>
                  </td>
                  <td>
                    <p-dropdown id="{{'moduleType' + ix}}" class="form-group" [options]="moduleTypes"
                      formControlName="moduleType" editable="true" [showClear]="true" [editable]="false"
                      placeholder="Select a ModuleType" tabindex="calcTabIndex(ix, 1)" [required]="true">
                    </p-dropdown>
                    <span *ngIf="isUserFieldInvalid(userRole, 'moduleType')">
                      <span class="show-invalid-feedback">
                        Please select Module Type.
                      </span>
                    </span>
                  </td>
                  <td>
                    <p-calendar id="{{'expire' + ix}}" class="form-group" tabindex="calcTabIndex(ix, 2)"
                      formControlName="expire" [readonlyInput]="false" [defaultDate]="todayDate" [showTime]="false"
                      [dataType]="date" showOnFocus="false" [showOnFocus]="false">
                    </p-calendar>
                  </td>
                  <td>
                    <input pInputText id="{{'description' + ix}}" class="form-control" type="text"
                      formControlName="description" tabindex="calcTabIndex(ix, 3)"
                      [ngClass]="{'is-invalid': isUserFieldInvalid(userRole, 'description') }">
                    <span *ngIf="isUserFieldInvalid(userRole, 'description')">
                      <span class="show-invalid-feedback">
                        The Description must be shorter than {{ descriptionMaxLength }} characters!
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span *ngIf="hasDuplicatedRows(mainForm)">
            <span class="show-invalid-feedback">
              Duplicated rows found, please correct those. {{ extractErrorValue() }}
            </span>
          </span>
          <div class="buttons-area">
            <button class="btn btn-primary spacer-horozontal-right" type="button" [disabled]="!canAddThreeRows()"
              (click)="onSetModel($event)">Set
              Model</button>
            <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onClearModel($event)">Clear
              Model</button>
            <button class="btn btn-primary spacer-horozontal-right" type="submit"
              [disabled]="!mainForm.valid">Submit</button>
            <button class="btn btn-primary" type="button" [disabled]="!canAddMoreRow()"
              (click)="onAddUserRole($event)">Add Role</button>
          </div>
        </form>
      </div>
      <label class="text-primary">Form Data</label>
      <div class="form-data">
        {{ mainFormData | json }}
      </div>
      <label class="text-primary">Form Data when Submitted</label>
      <div class="form-data">
        {{ mainFormSubmitData | json }}
      </div>
      <!--label class="horizontal-gap-left text-warning">(Still not responsive!)</label-->
    </div>
  </div>
</div>