<div class="factory-pattern-layout">
    <b>Use Case</b>
    <li>If the Factory method is implemented, then we don't use a new operator to instantiate the class, instead of we
        use Factory methods. This pattern is useful when we would instantiate the class, but we don't want to decide
        which class want to instantiate, because it depends on other parameters for example.</li>
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="/assets/images/dp_factory_uml.png" class="img-responsive" alt="Factory UML">
</div>