@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
.bar-chart-layout {
    width: 100%;
    height: 30vh;
    .bar-chart-container-default {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .bar-chart-container-bottom-to-top {
        @extend .bar-chart-container-default;
        flex-direction: row !important;
        align-items: flex-end !important;
    }
    .bar-chart-container-top-to-bottom {
        @extend .bar-chart-container-default;
        flex-direction: row !important;
        align-items: flex-start !important;
    }
    .bar-chart-container-left-to-right {
        @extend .bar-chart-container-default;
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .bar-chart-container-right-to-left {
        @extend .bar-chart-container-default;
        flex-direction: column !important;
        align-items: flex-end !important;
    }

    .font-size-default {
        font-size: 1rem;
        @include for-phone-only { 
            font-size: 0.1rem;
        }    
        @include for-tablet-portrait-up { 
            font-size: 0.45rem;
        }    
        @include for-tablet-landscape-up { 
            font-size: 0.6rem;
        }    
        @include for-desktop-up { 
            font-size: 0.7rem;
        }    
        @include for-big-desktop-up { 
            font-size: 1.1rem;
        }    
    }
    .bar-chart-items {
        @extend .font-size-default;
        width: 100%;
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: end;
        background-color: white;
        flex-direction: column;
        align-items: center;        
        border: 2px solid lightgray;
        border-radius: 3px;
        line-height: 1;
    }
    .bar-chart-item-label {
        @extend .font-size-default;
        font-weight: bold;
     }
}