<div [style.height]="fixHeightInRem" class="bar-chart-layout">
    <div [ngClass]="modifyOrientation()">
        <div [id]="bar.id" class="bar-chart-items" *ngFor="let bar of barItems"
            [style.height]="calculateBarHeight(bar.value)"
            [style.width]="calculateBarWidth(bar.value)"
            [style.border-color]="calculateLightenOrDarkenColor(bar.color, -30)"
            [ngStyle]="{'background-color': bar.color}">
            <label class="bar-chart-item-label">{{ bar.label + ' ' + bar.value + 'y'}}</label>
        </div>
    </div>
</div>
