<div class="layout-android-aemobile-page">
  <div class="form">
    <div class="layout-android-aemobile-description-title">AE. Mobile application</div>
    <div class="layout-android-aemobile-description form-group">
      <div class="col-xs-12">
        This application is the mobile client for Solution, Office business solution for health care Together with my
        colleague Peter Dudás, we developed the AE.Mobile v.1.0 mobile client application (and it's server side) in our spare
        time, mainly at nights. After finishing the v1.0 it was presented to the TCO. of the LLC. and took an offer to
        them. The TCO. told us that the company would not use it, so the product will not made from this mobile application
        as it didn't fit into their business plan. The users of the AE. who have accounted for the Enterprise software
        can be logged in securely into mobile client software, with their own login name and password, what is used  in the 
        Enterprise. When the user logged in, into mobile application, it shows the current daily scheduling data for the
        logged in staff member or surgeon, and it shows a list of the original color of each appointments. The mobile client
        gets the scheduling data through a special web service (k-soap) which is not the part of the Enterprise software. The
        AE.Mobile Application is developed by me, together with my colleague Péter Dudás.
      </div>
    </div>
    <div class="layout-android-aemobile-description-title">Screen-shoots</div>
    <div class="layout-android-aemobile-carousel">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_icon.jpg" alt="Icon">
          <div class="carousel-caption">
            <h3>AE.mobile</h3>
            <p>The icon of AE.mobile app</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_install01.jpg" alt="Install1">
          <div class="carousel-caption">
            <h3>Install AE. Mobile</h3>
            <p>Select the proper apk and click to it</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_install02.jpg" alt="Install2">
          <div class="carousel-caption">
            <h3>Install AE. Mobile</h3>
            <p>Allow the resource usage</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_license.jpg" alt="Policy">
          <div class="carousel-caption">
            <h3>Policy</h3>
            <p>Read and accept the policy</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_splash.jpg" alt="Splash">
          <div class="carousel-caption">
            <h3>Splash</h3>
            <p>You can see the splash screen of the app.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_connect01.jpg" alt="Login1">
          <div class="carousel-caption">
            <h3>Logging in</h3>
            <p>Type the server name or IP., with username and password</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_connect02.jpg" alt="Login2">
          <div class="carousel-caption">
            <h3>Logging in</h3>
            <p>Click to save for logging in</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_selectbgbe.jpg" alt="SelBG">
          <div class="carousel-caption">
            <h3>BG. and BE.</h3>
            <p>Select BG. and BE.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_selectbe.jpg" alt="SelBE">
          <div class="carousel-caption">
            <h3>BE.</h3>
            <p>Select Business Entity</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_selectdate.jpg" alt="SelDate">
          <div class="carousel-caption">
            <h3>Select date</h3>
            <p>Select the date of desired day</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_appointmentlist.jpg" alt="ApptList">
          <div class="carousel-caption">
            <h3>Appointments</h3>
            <p>Show the appointment list of the day</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_appointments.jpg" alt="Appts">
          <div class="carousel-caption">
            <h3>Appointments</h3>
            <p>List of another day appointments</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_appointment_tab.jpg" alt="ApptTab">
          <div class="carousel-caption">
            <h3>Appointment details</h3>
            <p>Can show the Appointment, Person, Case details</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="d-block img-fluid" src="assets/images/dev-aemob_appttimes.jpg" alt="ApptTimes">
          <div class="carousel-caption">
            <h3>Appointment times</h3>
            <p>Shows past appointment time in color red future appointments</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>