.layout-android-aemobile-page {
  .layout-android-aemobile-description-title {
  }
  .layout-android-aemobile-description {
      margin-top: 1rem;
  }
  .layout-android-aemobile-carousel {
      padding-top: 1rem;
      text-align: -webkit-center;
      margin: auto;
      .carousel-caption {
          color: #c99765;
      }
  }
}



