<div class="layout-javascript-courses-page">
    <div class="form">
        <div class="javascript-description form-group">
            <div class="col-xs-12">
                I began to learn JavaScript individually. I completed the
                <a href="https://tutsplus.com/"> envatotuts+ </a>
                JavaScript 101 Fundamentals & Advanced courses. I created a lot of small example when I practicing for example about Bubbling vs. Capturing event dispatch techniques demonstration.
            </div>
        </div>
    </div>
</div>