.layout-angular-playground-page14 {
    .angular-playground-description {
        padding: 0.5Rem;
    }
    .data-entry-form {
        border: solid blue 1px;
        padding: 1rem;
    }
    .sub-topic {
        padding: 0.5Rem;
    }
    .left-gap {
        margin-left: 2rem;
    }
    .spacer {
        margin-right: 0.5rem;
    }
}