.layout-delphi-page1 {
    .mld-description {
        padding: 0.5Rem;
    }
    .layout-mld-description {
        margin-top: 1rem;
    }
    .layout-mld-carousel {
        padding-top: 1rem;
        text-align: -webkit-center;
        margin: auto;
        .carousel-caption {
            color: #c99765;
        }
    }    
}