<div class="layout-delphi-page1">
    Memory Leak Detector
    <div class="form">
        <div class="mld-description form-group">
            <div class="col-xs-12">
                Memory Leak Detector tool able to show in source code level where stucked objects which not released from the memory. This
                tool is still in use by in the Java Based Client Server product in the Core team.
            </div>
        </div>
    </div>
    <div class="layout-mld-description-title">Screen-shoots</div>
    <div class="layout-mld-carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mlduserfilter.jpg" alt="User filter">
                <div class="carousel-caption">
                    <h3>User Filter</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldunalloc.jpg" alt="Unallocated">
                <div class="carousel-caption">
                    <h3>Unallocated</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldtest.jpg" alt="Test">
                <div class="carousel-caption">
                    <h3>Test</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldstrfilter.jpg" alt="String filter">
                <div class="carousel-caption">
                    <h3>String Filter</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldmarked.jpg" alt="Marker">
                <div class="carousel-caption">
                    <h3>Marker</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldresult.jpg" alt="Result">
                <div class="carousel-caption">
                    <h3>Result</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldobjfilter.jpg" alt="ObjFilter">
                <div class="carousel-caption">
                    <h3>Object Filter</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldheapstate.jpg" alt="Heapstate">
                <div class="carousel-caption">
                    <h3>Heap Status</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldcustoncallstack.jpg" alt="CCStact">
                <div class="carousel-caption">
                    <h3>Custom Call Stack</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldcallstack.jpg" alt="CS">
                <div class="carousel-caption">
                    <h3>Call Stack</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-aemob_appointmentlist.jpg" alt="ApptList">
                <div class="carousel-caption">
                    <h3>Appointments</h3>
                    <p>Show the appointment list of the day</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldbdisplayoptions.jpg" alt="dispopt">
                <div class="carousel-caption">
                    <h3>Display Options</h3>
                    <p></p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block img-fluid" src="assets/images/dev-mldallocstat.jpg" alt="Allocstat">
                <div class="carousel-caption">
                    <h3>Allocation statistics</h3>
                    <p></p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>