<div class="abstract-factory-pattern-layout">
    <b>Use Case</b>
    <li>Practically this pattern grouping those Factory methods which related to each other in the logic aspects. We use this pattern if we should create more instances but it depends on some condition or order, so it should fit to each other.Practically, this pattern grouping those Factory pattern methods which related to each other in the logical aspects. We use this pattern if we should create more instances but it depends on some condition or order, so those should fit each other.</li>        
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="/assets/images/dp_abstractfactory_uml.png" class="img-responsive" alt="AbstractFactory UML">
</div>
