.display-status-content {
    .message-style {
        display: table-cell;
    }    
    .form-status-style {
        display: flex;
    }
    .vertical-gap {
        padding-top: 1rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }    
    .table th, .table td {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
    }    
    .form-group {
        margin-bottom: 0.5rem;
    }
    .property-name-uppercase {
        text-transform: uppercase;
    }
}
