.display-status-content {
    .message-style {
        display: table-cell;
    }    
    .form-status-style {
        display: flex;
    }
    .vertical-gap {
        padding-top: 1rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }    
}
