<p>My first Java Enterprise web application was an Englist - Hungarian dictionary titled WordBook</p>
<p>One project which I'm working in and the I'm developing continuously is named WordsBook. This is a simple English - Hungarian dictionary.
  WEB based Wordbook application in pure J2EE. with EJB3 the UI library was ZK (http://www.zkoss.org) and the SQL server was MySQL
  This development is not finished yet! Not all functions are implemented yet! e.g. it shows almost recent searched words, shows last used words per user, etc.
</p>
<br>See the screenshots below<br><br>
<div id="floated-images">
  <img class="img-fluid" *ngFor="let imagePath of imagePathArray" [src]=imagePath>
</div>

