<div class="layout-j2ee-wordbook-page">
  <div class="form">
    <div class="j2ee-wordbook-description form-group">
      <div class="col-xs-12">
        My first Java Enterprise web application was an Englist - Hungarian dictionary titled WordBook One project which I'm working
        in and the I'm developing continuously is named WordsBook. This is a simple English - Hungarian dictionary. WEB based
        Wordbook application in pure J2EE. with EJB3 the UI library was ZK
        <a href="http://www.zkoss.org">http://www.zkoss.org</a> and the SQL server was MySQL This development is not finished yet! Not all functions are
        implemented yet! e.g. it shows almost recent searched words, shows last used words per user, etc.
      </div>
      <label>See the screenshots below</label>
      <div id="floated-images">
        <img class="img-fluid" *ngFor="let imagePath of imagePathArray" [src]=imagePath>
      </div>
    </div>
  </div>
</div>
