.layout-angular-playground-page11 {
    .sub-topic {
        padding: 1Rem;
    }
    .top-gap {
        padding-top: 1Rem;
    }
    .custom-text-style {
        width: 100%;
        resize: none;
    }
    .horizontal-gap {
        margin-left: 0.5rem;
    }
}