.layout-angular-playground-page11 {
    .sub-topic {
        padding: 1Rem;
    }
    .top-gap {
        padding-top: 1Rem;
    }
    .custom-text-style {
        width: 100%;
        resize: none;
    }
    .horizontal-gap {
        margin-left: 0.5rem;
    }
    .show-invalid-feedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }    
}