

.img-responsive {
    width: 160rem;
    height: 119rem;
    float: left;
    margin-right:2rem;
    border-radius: 50%;
    shape-outside:circle();
}

.img-responsive-right {
    width: 8rem;
    height: 5rem;
    // float: right;
    margin-left:3rem;
    border-radius:25%;
    shape-outside:circle();
   
}
