<div class="factory-pattern-layout">
    <b>Description</b>
    <div (click)="isEnglish = !isEnglish">
        <li *ngIf="isEnglish">Define an interface for creating an object, but let subclasses decide which class to instantiate. Factory Method lets a class defer instantiation to subclasses.</li>
        <li *ngIf="!isEnglish">Felületet határoz meg egy objektum létrehozásához, de az alosztályokra bízza, melyik osztált példányosítják. A gyártófügvények megengedik az osztályoknak, hogy a példányosítást az alosztályokra ruházzák át.</li>
    </div>    
    <b>Use Case</b>
    <div>
        <li>If the Factory method is implemented, then we don't use a new operator to instantiate the class, instead of we
            use Factory methods. This pattern is useful when we would instantiate the class, but we don't want to decide
            which class want to instantiate, because it depends on other parameters for example.</li>
    </div>
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true"
        [ngModel]="pattern"
        resize="both"
        [rows]="numOfTextRows">
    </textarea>
    <b>UML</b>
    <img src="assets/images/dp_factory_uml.png" class="img-responsive" alt="Factory UML">
</div>