<div class="layout-angular-playground-page3">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last or just which interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #3</b> Reactive (formerly Model-driven) forms exmaple, with embedded reactive component, named
      <label class="text-primary align-label">
        <a class="image-gap" href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/complex-name">
          <img [src]="githubLogoPath" width="16" height="16">
        </a>
        <em>ComplexNameComponent</em>
         <span class="text-danger"> This component is relatively closed, the custom form control of component is not visible.</span>
         <p class="text-secondary">In the next example, I create a reactive nested component with FormGroupDirective and formGroupname usage.</p>
      </label>
      <br>
      <span class="text-primary">The validation rules are the following</span> the
      <ul>
        <li>- the first name and last name are mandatory</li>
        <li>- the minimum length is {{ complexNameConfig.firstNameMinLength }}</li>
        <li>- the maximum length is {{ complexNameConfig.firstNameMaxLength }}</li>
      </ul>
      <div>
        <label>The configuration of ComplexNameComponent is based on the
          <a class="image-gap" href="https://github.com/lkovari/KLHome/blob/master/src/app/shared/components/complex-name/complex-name-config.interface.ts">
            <img [src]="githubLogoPath" width="16" height="16">
          </a>IComplexNameConfig
        </label>
      </div>
      <form class="form-border spacer-vertical" [formGroup]="exampleForm" (ngSubmit)="onSubmit(exampleForm)" autocomplete="off"
        novalidate>
        <label class="text-primary">
          <a class="image-gap" href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content3">
            <img [src]="githubLogoPath" width="16" height="16">
          </a>Form Validation example
        </label>
        <br>
        <div class="form-group">
          <label for="complexNameFields" class="text-primary">
            <em>ComplexNameComponent</em> selector is
            <em>'app-complex-name'</em>
          </label>
          <app-complex-name
            formControlName="complexName"
            [cleanup]="cleanup"
            [config]="complexNameConfig"
            (onNameChange)="onNameChange($event)"
            (onFirstNameChange)="onFirstNameChange($event)"
            (onMiddleInitialChange)="onMiddleInitialChange($event)"
            (onLastNameChange)="onLastNameChange($event)">
          </app-complex-name>
          <label>ComplexName FormControl</label>
          <div class="row message-style" >
            <li *ngFor="let key of formControlStatusKeys">{{ key }}:
              <div *ngIf="iskeyValue(key); else notcvalue">
                <label class="spacer-horozontal-left">{{ extractFormControlValueByKey(key) | json }}</label>
              </div>
              <ng-template #notcvalue>
                <div *ngIf="iskeyErrors(key); else notcerrors">
                  <label class="spacer-horozontal-left">{{ extractFormControlValueByKey(key) | json }}</label>
                </div>
                <ng-template #notcerrors>
                  <label class="spacer-horozontal-left">{{ extractFormControlValueByKey(key) }}</label>
                </ng-template>
               </ng-template>
            </li>
          </div>
          <label>Form Group of Form</label>
          <div class="row message-style" >
            <li *ngFor="let key of formControlStatusKeys">{{ key }}:
                <div *ngIf="iskeyValue(key); else notfvalue">
                    <label class="spacer-horozontal-left">{{ extractFormGroupValueByKey(key) | json }}</label>
                  </div>
                  <ng-template #notfvalue>
                      <div *ngIf="iskeyErrors(key); else notferrors">
                        <label class="spacer-horozontal-left">{{ extractFormGroupValueByKey(key) | json }}</label>
                      </div>
                      <ng-template #notferrors>
                        <label class="spacer-horozontal-left">{{ extractFormGroupValueByKey(key) }}</label>
                      </ng-template>
                  </ng-template>
    
            </li>
          </div>
          <div *ngIf="isValidationPlaceOutsideComponent()">
            <div class="text-danger" 
              *ngIf="(extractFormControl().invalid && extractFormControl().touched) || (extractFormControl().invalid && extractFormControl()?.dirty)">
              <!--div *ngIf="extractFormControl().errors.firstNameRequired">First name required!</div-->
              <div *ngIf="extractFormControl().hasError('firstNameRequired')">FirstName is required!</div>
              <div *ngIf="extractFormControl().hasError('lastNameRequired')">Last name required!</div>
              <div *ngIf="extractFormControl().hasError('firstNameMinLength')">First name minimum lenght is {{ complexNameConfig.firstNameMinLength }}</div>
              <div *ngIf="extractFormControl().hasError('firstNameMaxLength')">First name maximum lenght is {{ complexNameConfig.firstNameMaxLength }}</div>
              <div *ngIf="extractFormControl().hasError('lastNameMinLength')">Last name minimum lenght is {{ complexNameConfig.lastNameMinLength }}</div>
              <div *ngIf="extractFormControl().hasError('lastNameMaxLength')">Last name maximum lenght is {{ complexNameConfig.lastNameMaxLength }}</div>
              <!--div *ngIf="extractFormControl().hasError('firstNameRequired')">FirstName is required!</div-->
            </div>
          </div>
        </div>
        <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onSetModel(exampleForm)">Set Model</button>
        <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onClearModel(exampleForm)">Clear Model</button>
        <button class="btn btn-primary" type="submit" [disabled]="exampleForm.invalid" *ngIf="!isShowDoneInside()">Submit</button>
        <div class="spacer-vertical">
          <label class="spacer-horozontal-right">Validation messages</label>
          <label class="form-check-inline spacer-horozontal-right">
            <input class="form-check-input  spacer-horozontal-left spacer-horozontal-right" type="radio" formControlName="validationPlaceKind"
              [checked]="false" [value]="validationPlaceKindOutside">Outside
          </label>
          <label class="form-check-inline spacer-horozontal-right">
            <input class="form-check-input spacer-horozontal-left" type="radio" formControlName="validationPlaceKind" [checked]="true"
              [value]="validationPlaceKindInside">Inside
          </label>
          <label>of the component
            <a class="image-gap" href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/complex-name">
              <img [src]="githubLogoPath" width="16" height="16">
            </a>ComplexName</label>
          </div>
      </form>
    </div>
    <div class="sub-topic" *ngIf="submitted">
      <div class="cols-xs-12">
        <b>Form Model</b>
        <p>Complex Name: {{ form_data.complexName | json }} </p>
      </div>
    </div>
    <div class="sub-topic">
      The form control named <b>complexName</b> is a Custom FormControl Component the selector is <b>app-complex-name</b> which implements ControlValueAccessor
    </div>
    <lk-form-validation-monitor-v4 [mainFormGroup]="exampleForm"></lk-form-validation-monitor-v4>
  </div>
</div>