<div class="layout-angular-playground-page3">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular 2+ source code snippets, what I learned at last or just which interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #2.1</b> Model driven / reactive forms exmaple with embedded reactive component, named
      <label class="text-primary">
        <a href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/complex-name">
          <img [src]="githubLogoPath" width="16" height="16">
        </a>
        <em>ComplexNameComponent</em>
      </label>
      <br>
      <span class="text-primary">The validation rules are the following</span> the
      <ul>
        <li>- the first name and last name are mandatory</li>
        <li>- the minimum length is {{ complexNameConfig.firstNameMinLength }}</li>
        <li>- the masimum length is {{ complexNameConfig.firstNameMaxLength }}</li>
      </ul>
      <div>
        <label>The configuration of ComplexNameComponent is based on the
          <a href="https://github.com/lkovari/KLHome/blob/master/src/app/shared/components/complex-name/complex-name-config.interface.ts">
            <img [src]="githubLogoPath" width="16" height="16">
          </a>IComplexNameConfig
        </label>
      </div>
      <form class="form-border spacer-vertical" [formGroup]="exampleForm" (ngSubmit)="onSubmit(exampleForm)" autocomplete="off"
        novalidate>
        <label class="text-primary">
          <a href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content3">
            <img [src]="githubLogoPath" width="16" height="16">
          </a>Form Validation example
        </label>
        <br>
        <div class="form-group">
          <label for="complexNameFields" class="text-primary">
            <em>ComplexNameComponent</em> selector is
            <em>'app-complex-name'</em>
          </label>
          <app-complex-name id="complexNameFields" formControlName="complexName" [config]="complexNameConfig" (onChange)="onChange($event)">
          </app-complex-name>
          <p>ComplexName FormControl Status {{ extractFormControl().status }}</p>
          <p>ComplexName FormControl value {{ extractFormControl().value | json }}</p>
          <p>Form Status {{ exampleForm.status }}</p>
          <p>Form Value {{ exampleForm.value | json }}</p>
          <!--p>Status firstName {{ exampleForm.get('firstName').status }}</p>
          <p>Status lastName {{ exampleForm.get('lastName').status }}</p-->
          <div *ngIf="isValidationPlaceOutsideComponent()">
            <div class="text-danger" 
              *ngIf="(extractFormControl().invalid && extractFormControl().touched) || (extractFormControl().invalid && extractFormControl().dirty)">
              <div *ngIf="extractFormControl().errors.firstNameRequired">First name required!</div>
              <div *ngIf="extractFormControl().errors.lastNameRequired">Last name required!</div>
              <div *ngIf="extractFormControl().errors.firstNameMinLength">First name minimum lenght is {{ complexNameConfig.firstNameMinLength }}</div>
              <div *ngIf="extractFormControl().errors.firstNameMaxLength">First name maximum lenght is {{ complexNameConfig.firstNameMaxLength }}</div>
              <div *ngIf="extractFormControl().errors.lastNameMinLength">Last name minimum lenght is {{ complexNameConfig.lastNameMinLength }}</div>
              <div *ngIf="extractFormControl().errors.lastNameMaxLength">Last name maximum lenght is {{ complexNameConfig.lastNameMaxLength }}</div>
              <!--p *ngIf="customtextinput.hasError('capital')">Must start with capital letter!</p-->
            </div>
          </div>
        </div>
        <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="setValues(exampleForm)">Set Data</button>
        <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="clearValues(exampleForm)">Clear Data</button>
        <button class="btn btn-primary" type="submit" [disabled]="exampleForm.invalid" *ngIf="!isConfigUpdateOnBlur()">Submit</button>
        <div class="spacer-vertical">
          <label class="spacer-horozontal-right">Validation messages</label>
          <label class="form-check-inline spacer-horozontal-right">
            <input class="form-check-input  spacer-horozontal-left spacer-horozontal-right" type="radio" formControlName="validationPlaceKind"
              [checked]="false" [value]="validationPlaceKindOutside">Outside
          </label>
          <label class="form-check-inline spacer-horozontal-right">
            <input class="form-check-input spacer-horozontal-left" type="radio" formControlName="validationPlaceKind" [checked]="true"
              [value]="validationPlaceKindInside">Inside
          </label>
          <label>of the component
            <a href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/complex-name">
              <img [src]="githubLogoPath" width="16" height="16">
            </a>ComplexName</label>
        </div>
      </form>
    </div>
    <div class="sub-topic" *ngIf="submitted">
      <div class="cols-xs-12">
        <b>Form Data</b>
        <p>Name: {{ form_data.complexName | json }} </p>
      </div>
    </div>
  </div>
</div>