<p>Sensors, Built-in Sensors application</p>
<p>This application show the built-in sensor list of Android mobile devices.</p>
<p><a href="https://play.google.com/store/apps/details?id=com.lkovari.mobile.apps.sensors">Available on Google Play</a></p>
<p>
  <a href="https://bitbucket.org/laszlokovary/sensors-s/src/master/">Source code on Bitbucket</a>
</p>
<p>
  See below the screenshots<br><br>
  <span class="images">
      <img class="img-fluid" *ngFor="let imagePath of imagePathArray"
           [src]=imagePath>
    </span>
</p>
