<form [formGroup]="complexNameForm" (ngSubmit)="onDone(complexNameForm)" autocomplete="off" novalidate>
  <div class="complex-name-layout">
    <div class="form-group">
      <label class="text-primary">First
        <span class="warning-text" *ngIf="config && config.isFirstNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="firstName" [disabled]="disabled" (input)="onChangeFirstName($event.target.value)"
        #firstName>
      <div *ngIf="config && config.isShowValidationMessagesInside">
        <div class="text-danger" *ngIf="extractFirstNameFormControl() && (extractFirstNameFormControl().touched && extractFirstNameFormControl().invalid)">
          <p *ngIf="extractFirstNameFormControl().errors.firstNameRequired">First name required!</p>
          <p *ngIf="extractFirstNameFormControl().errors.firstNameMinLength">First name minimum lenght is {{ complexNameConfig.firstNameMinLength }}</p>
          <p *ngIf="extractFirstNameFormControl().errors.firstNameMaxLength">First name maximum lenght is {{ complexNameConfig.firstNameMaxLength }}</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-primary">Middle</label>
      <input pInputText type="text" formControlName="middleInitial" [disabled]="disabled" (input)="onChangeMiddleInitial($event.target.value)"
        #middleInitial>
    </div>
    <div class="form-group">
      <label class="text-primary">Last
        <span class="warning-text" *ngIf="config && config.isLastNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="lastName" [disabled]="disabled" (input)="onChangeLastName($event.target.value)"
        #lastName>
        <div *ngIf="config && config.isShowValidationMessagesInside">
          <div class="text-danger" *ngIf="extractFirstNameFormControl() && (extractFirstNameFormControl().touched && extractLastNameFormControl().invalid)">
            <p *ngIf="extractLastNameFormControl().errors.lastNameRequired">Last name required!</p>
            <p *ngIf="extractLastNameFormControl().errors.lastNameMinLength">Last name minimum lenght is {{ complexNameConfig.firstNameMinLength }}</p>
            <p *ngIf="extractLastNameFormControl().errors.lastNameMaxLength">Last name maximum lenght is {{ complexNameConfig.firstNameMaxLength }}</p>
          </div>
        </div>
      </div>
    <div class="form-group" *ngIf="config && config.isShowTitle">
      <label>Title</label>
      <input class="spacer-horizontal" type="text" formControlName="title" [disabled]="disabled" (input)="onChangeTitle($event.target.value)"
        #title>
    </div>
    <button class="button-primary-small" *ngIf="isConfigUpdateOnBlur()" [disabled]="complexNameForm.invalid" type="submit" (click)="onDone(complexNameForm)">Done
    </button>
  </div>
</form>