<form [formGroup]="complexNameForm" (ngSubmit)="onDone(complexNameForm)" autocomplete="off" novalidate>
  <div class="complex-name-layout">
    <div class="form-group">
      <label class="text-primary">First
        <span class="warning-text" *ngIf="config && config.isFirstNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="firstName" (input)="onChangeFirstName($event.target.value)"
        #firstName>
      <div *ngIf="config && config.isShowValidationMessagesInside">
        <div class="text-danger" *ngIf="extractFirstNameFormControl() && (extractFirstNameFormControl().dirty && extractFirstNameFormControl().invalid)">
          <p *ngIf="extractFirstNameFormControl().errors.required">First name required!</p>
          <p *ngIf="extractFirstNameFormControl().errors.minlength">First name must be {{ extractFirstNameFormControl().errors.minlength.requiredLength }} 
            characters long, the actual length is {{ extractFirstNameFormControl().errors.minlength.actualLength}} characters!</p>
          <p *ngIf="extractFirstNameFormControl().errors.maxlength">First name must be {{ extractFirstNameFormControl().errors.maxlength.requiredLength }} 
            characters long, the actual length is {{ extractFirstNameFormControl().errors.maxlength.actualLength}} characters!</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-primary">Middle</label>
      <input pInputText type="text" formControlName="middleInitial" (input)="onChangeMiddleInitial($event.target.value)"
        #middleInitial>
    </div>
    <div class="form-group">
      <label class="text-primary">Last
        <span class="warning-text" *ngIf="config && config.isLastNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="lastName" (input)="onChangeLastName($event.target.value)"
        #lastName>
        <div *ngIf="config && config.isShowValidationMessagesInside">
          <div class="text-danger" *ngIf="extractLastNameFormControl() && (extractLastNameFormControl().dirty && extractLastNameFormControl().invalid)">
            <p *ngIf="extractLastNameFormControl().errors.required">Last name required!</p>
            <p *ngIf="extractLastNameFormControl().errors.minlength">Last name must be {{ extractLastNameFormControl().errors.minlength.requiredLength }} 
                characters long, the actual length is {{ extractLastNameFormControl().errors.minlength.actualLength}} characters!</p>
              <p *ngIf="extractLastNameFormControl().errors.maxlength">Last name must be {{ extractLastNameFormControl().errors.maxlength.requiredLength }} 
                characters long, the actual length is {{ extractLastNameFormControl().errors.maxlength.actualLength}} characters!</p>
          </div>
        </div>
      </div>
    <div class="form-group" *ngIf="config && config.isShowTitle">
      <label>Title</label>
      <input class="spacer-horizontal" type="text" formControlName="title" [disabled]="disabled" (input)="onChangeTitle($event.target.value)"
        #title>
    </div>
    <button class="button-primary-small" *ngIf="isConfigUpdateOnBlur()" [disabled]="complexNameForm.invalid" type="submit" (click)="onDone(complexNameForm)">Done
    </button>
  </div>
</form>