<div class="layout-vuejs-playground-page0">
    <div class="col-xs-12">
        This page is a
        <b>playground</b>, I show on this page Vue.JS related source code snippets, what I learned at last or just which
        interested in, for me.
    </div>
    <div class="sub-topic">
        <p>
            <b>Act #1</b> Began to learn Vue.JS. Watching some courses mainly on https://www.udemy.com and another online learning site also.
        </p>
        <p>The following course is a great choice to begin.</p>
        <a class="hide-crsrshape"
            href="https://www.udemy.com/course/vuejs-2-the-complete-guide/">Vue - The Complete Guide (incl. Router & Composition API)
            Vue.js is an awesome JavaScript Framework for building Frontend Applications! VueJS mixes the Best of Angular + React!
        </a>
        <p>The following website will be the new Vue.JS app named <a href="https://lkovari.github.io/TechQuickRefs">TechQuickRefs</a> (Categorized Technical Quick References page for my daily work)</p>
    </div>
</div>