<div class="templatemethod-pattern-layout">
    <b>Description</b>
    <div (click)="isEnglish = !isEnglish">
        <li *ngIf="isEnglish">Define the skeleton of an algorithm in an operation, deferring somesteps to subclasses. Template Method lets subclasses redefinecertain steps of an algorithm without changing the algorithm'sstructure.</li>
        <li *ngIf="!isEnglish">Adott művelet algoritmusának vázát készíti el, amelynek egyes lépéseint alosztályokra ruházza át. Így az alosztályok az algoritmus egyes lépéseit felülbírálhatják, anélkül, hogy az algoritmus szerkezete módosulna.</li>
    </div>     
    <b>Use Case</b>
    <li>To implement the invariant parts of an algorithm once and leave it up to subclasses to implement the behavior that can vary. When refactoring is performed and common behavior is identified among classes. A abstract base class containing all the common code (in the template method) should be created to avoid code duplication.</li>
    <b>Source Code</b>
    <textarea class="area-style" [disabled]="true" [ngModel]="pattern" resize="both" [rows]="numOfTextRows"></textarea>
    <b>UML</b>
    <img src="assets/images/dp_templatemethod_uml.png" class="img-responsive" alt="Template method UML">
</div>
