.checklist-layout {
    // overflow-x: hidden;
    // overflow-y: auto;
    border: solid blue 1px;
    border-radius:8px;
    // position: relative;
    cursor: pointer;
    padding: 1rem;

    * {
        margin: 0;
        padding: 0;
    }

    .checklist-item-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        font-size: 15px;
        line-height: 1.8rem;

        .checklist-label-item {
            order: 0;
            flex: 0.8 1 auto;
            align-self: auto;    
        }
    
        .checklist-checkmark-item {
            order: 0;
            flex: 0.2 1 auto;
            align-self: center;
            color: green;
            display: flex;
            flex-flow: row-reverse;
        }
            
    }

    .checklist-item-highlight {
        display: flex;
        align-items: flex-start;
        background-color: #d9edf7;
        color: blue;
        border: 1px solid var(--primary-color);
    }    

    .checklist-item-selected {
        // background-color: #d9edf7;
        background-color: green;
        // display: flex;
    }


    .checklist-item-disabled {
        opacity: 0.4;
    }


}