<form [formGroup]="complexNameForm" (ngSubmit)="onDone(complexNameForm)" autocomplete="off" novalidate>
  <div class="complex-name-layout">
    <div class="form-group">
      <label class="text-primary">First
        <span class="warning-text" *ngIf="config && config.isFirstNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="firstName">
      <div *ngIf="isValidationPlaceInsideComponent()">
        <div class="text-danger" 
          *ngIf="(extractFormControl('firstName').touched && extractFormControl('firstName').invalid) || 
          (extractFormControl('firstName').dirty && extractFormControl('firstName').invalid)">
          <p *ngIf="extractFormControl('firstName').errors.required">First name required!</p>
          <p *ngIf="extractFormControl('firstName').errors.minlength">First name must be greater than min {{ extractFormControl('firstName').errors.minlength.requiredLength }} 
            characters long, the actual length is {{ extractFormControl('firstName').errors.minlength.actualLength}} characters!</p>
          <p *ngIf="extractFormControl('firstName').errors.maxlength">First name must be less than {{ extractFormControl('firstName').errors.maxlength.requiredLength }} 
            characters long, the actual length is {{ extractFormControl('firstName').errors.maxlength.actualLength}} characters!</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-primary">Middle</label>
      <input pInputText type="text" formControlName="middleInitial">
    </div>
    <div class="form-group">
      <label class="text-primary">Last
        <span class="warning-text" *ngIf="config && config.isLastNameMandatory">*</span>
      </label>
      <input class="spacer-horizontal" type="text" formControlName="lastName">
        <div *ngIf="isValidationPlaceInsideComponent()">
          <div class="text-danger" 
          *ngIf="(extractFormControl('lastName').touched && extractFormControl('lastName').invalid) || 
          (extractFormControl('lastName').dirty && extractFormControl('lastName').invalid)">
            <p *ngIf="extractFormControl('lastName').errors.required">Last name required!</p>
            <p *ngIf="extractFormControl('lastName').errors.minlength">Last name must be greater than {{ extractFormControl('lastName').errors.minlength.requiredLength }} 
                characters long, the actual length is {{ extractFormControl('lastName').errors.minlength.actualLength}} characters!</p>
              <p *ngIf="extractFormControl('lastName').errors.maxlength">Last name must be less than {{ extractFormControl('lastName').errors.maxlength.requiredLength }} 
                characters long, the actual length is {{ extractFormControl('lastName').errors.maxlength.actualLength}} characters!</p>
          </div>
        </div>
      </div>
    <div class="btn-container">
      <button class="btn btn-primary btn-style" *ngIf="isShowDoneInside()" [disabled]="complexNameForm.invalid" type="submit" (click)="onDone(complexNameForm)">Done
      </button>
    </div>  
  </div>
</form>