.layout-angular-playground-page8 {
    .angular-playground-description {
        padding: 0.5Rem;
    }
    .sub-topic {
        padding: 1Rem;
    }
    .form-height {
        height: 37rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }    
    .horizontal-gap-right {
        padding-right: 0.5rem;
    }
    .horizontal-gap-left {
        padding-left: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .form-border {
        border: solid blue 1px;
        padding: 1rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    .buttons-area {
        position: relative;
        top: 1em;
        left: 0rem;
    }
    // used vw instead of mixin to keep responsive
    thead {
        display: table;
        table-layout: fixed;
        width: 100%;
        font-size:	1.2vw;        
    }
    tbody {
        display: block;
        height: 33rem;
        font-size:	1.2vw;        
    }
    tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
        font-size:	1.2vw;        
    }
    th, td {
        width: auto;
        font-size:	1.2vw;        
    }    
    .info-area {
        display: contents;
    }
}
