<div class="layout-angular-playground-page8">
  <div class="angular-playground-description form-group">
    <div class="col-sm-12">
      This page is a
      <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last or just which
      interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #8</b>
      <label class="text-primary">
        <a class="horizontal-gap-left horizontal-gap-right"
          href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content8">
          <img [src]="githubLogoPath" width="16" height="16">
        </a>Route Resolver example.
      </label>
      <label>I Implemented a route resolver service named <a class="horizontal-gap-left horizontal-gap-right"
        href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/services/persondataresolver">
        <img [src]="githubLogoPath" width="16" height="16">
      </a>PersonDataResolver, the purpose of route resolver IS to pre-fetch the data for the route-target component. In our case, the route resolver calls the ExamplePersonDataService.loadtExamplePersonData which calls another service that loads a .csv file. The .csv file contains <mark>a HUNDRED thousand Person rows</mark> displayed with the loaded content the resolver load all Person data rows and createS a Person object for each row to prevent the UI is displayed without data in that case when the data loading is still NOT finished.</label><br>
      <li class="text-secondary">At the first navigation to the page Angular Playground #8 , the checkbox 'Use prefetch data by Route Resolver' will be checked, the table content loaded in the route resolver and the loaded data captured in the ngOnInit() of the target component, for demonstrating the purpose and working behavior of the route resolve which provide the data in-time.</li>
      <li class="text-secondary">When navigating again to the page (eg. navigate to another page of the site eg. About page , and after it navigates back to the page Angular Playground #8 ), the checkbox named 'Use pre-fetch data by Route Resolver' will be un-checked, the table content loaded in the ngOnInit() for demonstrating what errors can occur if the data is not loaded in-time, so when the table is appeared then the loading of the data still not finished, therefore the table can be empty for some moments.</li>
      <br>
      <li class="text-secondary">Using <a href="https://material.angular.io/cdk/scrolling/overview">CDK Virtual Scroll</a> cdk-virtual-scroll-viewport to display the content because without it the display will take a really long time.</li>
      <li class="text-secondary">Observed all Router events for demonstration purposes, you can see the logs of events if fired on the console.</li>
      <li class="text-secondary">Display a wait spinner when the navigationStart event fired, it will disappear when the navigationEnd, navigationCancel or navigationError event fired.</li>
      <li class="text-primary">The person data is DUMMY data, generated by on the following website generated by <a href="https://www.convertcsv.com/generate-test-data.htm">https://www.convertcsv.com/generate-test-data.htm</a> .</li>
      <br>
      <div class="sub-topic info-area">
        <label class="text-danger"># of rows loaded {{ personList.length }}</label>
        <div>
          <button class="btn btn-primary spacer-horozontal-right" type="button" (click)="onScrolltoTopClicked($event)">Scroll to Top</button>
          <button class="btn btn-primary spacer-horozontal-left" type="button" (click)="onScrolltoBottomClicked($event)">Scroll to Bottom</button>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [disabled]="true" id="defaultUnchecked" [ngModel]="useRouteResolver">
            <label class="custom-control-label" for="defaultUnchecked">Use pre-fetch data by Route Resolver</label>
          </div>
        </div>
      </div>
      <div class="user-form form-border form-height">
        <div>
          <table>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
              <tbody>
                <!--perfect-scrollbar class="scroll-container" style="max-width: 100%; height:34rem; max-height: 41rem;" [config]="config"
                fxFlex="auto" [scrollIndicators]="true" [autoPropagation]="true"-->
                <cdk-virtual-scroll-viewport [itemSize]="1">
                  <tr *cdkVirtualFor="let person of personList; templateCacheSize: 255; trackBy: trackByFn">
                      <td>{{ person.id }}</td>
                      <td>{{ person.firstName }}</td>
                      <td>{{ person.lastName }}</td>
                      <td>{{ person.age }}</td>
                      <td>{{ person.street }}</td>
                      <td>{{ person.city }}</td>
                      <td>{{ person.state }}</td>
                      <td>{{ person.zip }}</td>
                      <td>{{ person.date | date: 'mediumDate' }}</td>
                    </tr>
                <!--ng-template ngFor let-person [ngForOf]="personList" let-ix="index" [ngForTrackBy]="trackByFn">
                  <tr class="scrollable-content">
                    <td>{{ person.id }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.street }}</td>
                    <td>{{ person.city }}</td>
                    <td>{{ person.state }}</td>
                    <td>{{ person.zip }}</td>
                    <td>{{ person.date | date: 'mediumDate' }}</td>
                    </tr>
                </ng-template-->         
              <!--perfect-scrollbar-->
              </cdk-virtual-scroll-viewport>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>      