<p>Microsoft Macro Assembler</p>
<p>This language was the first programming language what I started to learn .. My teacher was Ádám Pethő who wrote more books about IBM. PC. Assembler and MASM.</p>
<p>At that time all files with pure natural assembly  I compiled with MASM 6.11 to link Link.exe and to made com file with exe2bin</p>

<p>One day when I asked too much questions from Ádám Pethő I got an asm file from him named BIOS.ASM which was a BIG treasure.</p>

<p>Some application what I made</p>

&nbsp;-&nbsp;NumConv converts values between numerical systems (NUMCONV.ASM)<br>
&nbsp;-&nbsp;RealDtTm shows and sets the real time clock date and time (REALDTTM.ASM)<br>
&nbsp;-&nbsp;Anthem plays the Hungarian National Anthem in the background with PC speaker (ANTHEM.ASM)<br>
&nbsp;-&nbsp;CMRam reads and setup the CMOS RAM (CMRAM.ASM)<br>
&nbsp;-&nbsp;VGACRT setups the VGA CRT M6811 chip which controls the monitor screen refresh etc. (VGACRT.ASM)<br>
&nbsp;-&nbsp;Maker: simple demo (MAKER.ASM)<br>
&nbsp;-&nbsp;Prime prime number generator with file handling /reading and writing/ (PRIME.ASM)<br>
&nbsp;-&nbsp;Fs file search with recursive procedure (FS.ASM)<br>
&nbsp;-&nbsp;Slow after the program runs stay resident under 1Ch interrupts, monitors the keyboard buffer and to Ctrl-left Shift slows down the computer and Ctrl- right Shift increases the speed of the computer. (SLOW.ASM)<br>

&nbsp;-&nbsp;PCINFO display gives internal information about your PC for example, st game ports, printer ports, DOS. version (made 1987) RS232 cards, etc.(PCINFO.ASM)<br>
&nbsp;-&nbsp;MS memory Spy displays the physical memory size with test. This little program contains a converter between numerical systems (MS.ASM)<br>

I had some publication in Computer Panorama Magazine in July 1992, Feb 1995, Aug 1995.

