.layout-masm-page {
    .masm-description {
        padding: 0.5Rem;
    }
    .masm-stuffs {
        padding-left: 0.5rem;
        padding-left: 1rem;
        .masm-stuff-title {
            padding-bottom: 1rem;
            padding-left: 1rem;
            font-weight: bold;
        }
        .masm-publications {
            padding-top: 1rem;
        }
    }
}