<div class="layout-angular-playground-page5">
  <div class="angular-playground-description form-group">
    <div class="col-xs-12">
      This page is a
      <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last or just which
      interested
      in, for me.
    </div>
    <div class="sub-topic">
      <b>Act #5</b> Multiple part validation of nested components on a Template Driven Form
      <br>
      We have a main form, which contains a Form. The Form contains a Tab component with three Tabs, each Tab contains
      one component. Each component on the Tabs contains various data fields. Some data field is mandatory. You must
      complete all mandatory fields on the Main form and on each Tab for submitting! When the form is initialized it
      initializes the components also below the tabs because I used the ngSwitch. See the structure below.
      <label>See the structure below</label>
      <div class="struct-main">
        <label>DataMainInputComponent - app-data-main-input</label>
        <label class="struct-sub">DataInput1Component - app-data-input1 on Tab Sheet #1</label>
        <label class="struct-sub">DataInput2Component - app-data-input2 on Tab Sheet #2</label>
        <label class="struct-sub">DataInput3Component - app-data-input3 on Tab Sheet #3</label>
      </div>
      <app-data-main-input [customFormModel]="customFormModel"></app-data-main-input>
    </div>
  </div>
</div>