<div class="layout-mitsubishi-page">
    <div class="form">
        Mitsubishi cars cyclic maintenance
        <div class="app-description form-group">
            <div class="col-xs-12">
                After the course, I made an ASP.NET web application. The application can easily querying the periodical maintenance
                operations of Mitsubishi branded cars. The environment was .NET Framework v1.1 and the compiler was VS.Net 2003
                at that time. I deploed the application under IIS. on live site (www.webmatrixhosting.com) in Moscow. It
                was working perfectly during the usage of hosting site was free, in mz case 6 months. 
            </div>
        </div>
    </div>
</div>