<div class="layout-angular-playground-page10">
    <div>
        This page is a <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last
        or just which interested in, for me.
    </div>
    <div class="sub-topic">
        <b>Act #9</b>
        <div class="top-gap">
            <label class="text-primary">
                <a class="horizontal-gap-left horizontal-gap-right"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content10">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a>
                Basic directive usage.
            </label>
        </div>
    </div>
    <div class="sub-topic">
        <label><b>1. Custom textbox directive</b></label>
        <p>You can see a textarea HTML element. The textarea default height is 3 rows. In this example the textarea decorated with the 'appCustomTextArea' directive. It has two parameters autoSize: boolean  and autoSizeLimit: number. With the spinner can change the value of the autoSizeLimit. When the user typing more rows, and the rows number matched with the calue of the autoSizeLimit then stop growing of the textarea height.</p>
        <div class="top-gap">
            <form (ngSubmit)="onSubmit(dataEntryForm)" #dataEntryForm="ngForm" novalidate autocomplete="off">
                <div class="form-group">
                    <label class="spacer" for="userName">Max height in rows (autoSizeLimit)
                    </label>
                    <p-spinner id="maxHeight" class="spinner-style" name="maxHeight" [(ngModel)]="maxHeightInRows"
                    [min]="0" [max]="100" [step]="1" #maxHeight="ngModel" autocomplete="off" (onChange)="onChangeSpinner($event)" >
                    </p-spinner>
                </div>
                <div class="form-group">
                    <label class="spacer" for="userName">Custom text area
                        <span *ngIf="fieldRequired"class="text-danger">*</span>
                    </label>
                    <textarea id="customTextArea" class="form-control custom-text-style" name="customTextArea" [(ngModel)]="customTextValue"
                        rows="{{defaultRows}}" [ngStyle]="{'height': defaultRowHeight+'px'}"
                        appCustomTextArea autoSize="true" autoSizeLimit="{{maxHeightLimit}}"
                        #customTextArea="ngModel" autocomplete="off"
                        [required]="fieldRequired" 
                        minlength="{{customTextMinLength}}"
                        maxlength="{{customTextMaxLength}}">
                     </textarea>   
                    <div *ngIf="(customTextArea && (customTextArea.invalid && customTextArea.dirty)) " class="text-danger">
                        <p *ngIf="fieldRequired && customTextArea?.errors.required">Value is required!</p>
                        <p *ngIf="customTextArea?.errors.firstcapital">The first character should capital letter!</p>
                        <p *ngIf="customTextArea.hasError('minlength')">Min length is {{ customTextMinLength }}!
                        </p>
                        <p *ngIf="customTextArea?.errors.maxlength">Max length is {{ customTextMaxLength }}!</p>
                    </div>
                </div>
                <div class="sub-topic">
                    <button class="btn btn-primary" type="submit" [disabled]="dataEntryForm.invalid">Submit</button>
                    <div class="sub-topic">
                        <label>NgForm data</label>
                        <div class="top-gap" *ngIf="dataEntryForm">{{dataEntryForm.value | json}}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    