.layout-angular-playground-page10 {
    .sub-topic {
        padding: 1Rem;
    }
    .top-gap {
        padding-top: 1Rem;
    }
    .custom-text-style {
        width: 100%;
        line-height: 28px;
        resize: none;
    }
    .spinner-style {
        padding-left: 0.2rem;
        width: 2rem;
    }
}    