<div class="layout-j2ee-course-page">
    <div class="form">
        <div class="j2ee-course-description form-group">
            <div class="col-xs-12">
                The story began with <a href="https://www.oracle.com/technetwork/java/javaee/downloads/index.html">J2EE</a>. development, when I found the website of <a href="https://www.javapassion.com/portal/">Java 
                Passion</a> which was operated / edited by Sang Shin.<br>I took part in course from autumn 2007&nbsp; to spring 2008 <a href="https://www.javapassion.com/portal/images/certificates/javaee/session13/LaszloKovari.pdf">13th. 
                course</a>.<br> When I finished the course I started more projects with my colleagues and friends, but I never finished those by external reasons.
            </div>
        </div>
    </div>
</div>              
