<div class="layout-angular-playground-page11">
    <div>
        This page is a <b>playground</b>, I show on this page Angular v2+ source code snippets, what I learned at last
        or just which interested in, for me.
    </div>
    <div class="sub-topic">
        <b>Act #11</b>
        <div class="top-gap">
            <label class="text-primary">
                <a class="horizontal-gap-left horizontal-gap-right"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content11">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a>
                Example of a reactive CheckListComponent, where one list item is a form (FormGroup) and where the list
                is a FormArray. Currently manually handling the ChecklistComponent statues I mean programmatically call
                markAsDirty() and markAsTouched(). I will figure out how can I use SelectControlValueAccessor and
                SelectMultipleControlValueAccessor
            </label>
            <label><span class="text-primary">We can observe</span> in the source code of the ChecklistComponent, instead of function isChecklisItemSelected() we have used a pure pipe with the same name isChecklisItemSelected. If we would have used a function, then it would have called many times. Instead of the function, the pure pipe just called when the value is changed.</label>
            <label>The usage of the pure pipe <span class="font-italic">( checklistItems | isChecklisItemSelected : checklistFormGroupItem )</span></label>
        </div>
    </div>
    <div class="sub-topic">
        <label><b>The
                <a class="horizontal-gap-left horizontal-gap-right"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/checklist">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a> app-checklist Component is </b><span class="text-primary">UNDER CONSTRUCTION!</span>
        </label>
        <div>
            <label>Selection mode</label>
            <label class="form-check-inline">
                <input id="multiselect" class="form-check-input horizontal-gap" type="radio" name="multiSelect"
                    [(ngModel)]="singleSelect" [value]="false" [checked]="false">Multiple
            </label>
            <label class="form-check-inline">
                <input id="singleselect" class="form-check-input" type="radio" name="singleSelect"
                    [(ngModel)]="singleSelect" [value]="true" [checked]="true">Single
            </label>{{singleSelect}}
        </div>
        <form class="sub-topic" [formGroup]="exampleForm" (ngSubmit)="onSubmit(exampleForm)" novalidate
            autocomplete="off">
            <div class="form-group row mb-2">
                <app-checklist [checklistItems]="checklistItems" #checklist [multiSelect]="!singleSelect">
                </app-checklist>
            </div>
        </form>
        <div>
            <label class="sub-topic">Form Validation Status {{ showFormStatus() }} </label>
        </div>
        <div>
            <label class="sub-topic">Selected {{ showCheckedItems() | json }} </label>
        </div>
    </div>
    <lk-form-validation-monitor [mainFormGroup]="exampleForm" [topGap]="5"></lk-form-validation-monitor>
</div>