<div class="layout-delphi-page3">
    Small Stuffs, code snippets
    <div class="form">
        <div class="stuffs-description form-group">
            <div class="col-xs-12">
                Small code snippets in Delphi language
            </div>
        </div>
        <div class="delphi-stuffs">
            <li>Rel, Teaching how determinate the relation between different amounts for example showing 3 stars and 5 stars,
                and select the proper relation between the amounts (
                <,=>), for my sons Akos and Balint</li>
            <li>Binary Tree example with graphical GUI.</li>
            <p-accordion (onOpen)="onTabOpen($event)">
                <div class="accordion-style">
                    MathBase, Teaching the basic arithmetic operations with the possibility to practice also for my sons, now shows the base class
                    which communicates with the UI. through events
                </div>
                <p-accordionTab header="ClassBase.pas" [selected]="false">
                    <app-text-display id="textDisplay1" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                        name="textDisplay">
                    </app-text-display>
                </p-accordionTab>
                <div>
                    TStack class implementation in Delphi
                </div>
                <p-accordionTab header="Stack.pas" [selected]="false">
                    <app-text-display id="textDisplay2" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                        name="textDisplay">
                    </app-text-display>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>