<div class="data-input-layout3 form-border">
    <label class="tab-title">Data Input Component on Tab Sheet #3</label>
    <div [formGroup]="formPartTab" >
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="customText">Text 3
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-8">
          <input class="form-control" id="customText" type="text" placeholder="custom text" formControlName="customText"
            [ngClass]="{'is-invalid': (formPartTab?.get('customText')?.touched ||
                  formPartTab?.get('customText')?.dirty) &&
                    !formPartTab?.get('customText')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="formPartTab?.get('customText')?.errors?.required">
              Please enter a text!
            </span>
            <span *ngIf="formPartTab?.get('customText')?.errors?.minlength">
              The text must be longer than {{ minLength }} characters!
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="customNumber">Number 3
            <span class="text-danger">*</span>
        </label>
        <div class="col-md-8">
          <input class="form-control" id="customNumber" type="number" placeholder="custom number" formControlName="customNumber"
            [ngClass]="{'is-invalid': (formPartTab?.get('customNumber')?.touched ||
                    formPartTab?.get('customNumber')?.dirty) &&
                    !formPartTab?.get('customNumber')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="formPartTab?.get('customNumber')?.errors?.required">
              Please enter a number!
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="customEmail">Email Address 3
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-8">
          <input class="form-control" id="customEmail" type="text" placeholder="custom email address" formControlName="emailAddress"
            [ngClass]="{'is-invalid': (formPartTab?.get('emailAddress')?.touched ||
                    formPartTab?.get('emailAddress')?.dirty) &&
                    !formPartTab?.get('emailAddress')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="formPartTab?.get('emailAddress')?.errors?.required">
              Please enter an Email address!
            </span>
            <span *ngIf="formPartTab?.get('emailAddress')?.errors?.email">
              Please enter a valid Email address!
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="freeText">Free Text 3</label>
          <div class="col-md-8">
            <input class="form-control" id="freeText" type="text" placeholder="custom text" formControlName="freeText">
          </div>
        </div>    
        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="zipCode">Zip Code 3
                <span class="text-danger">*</span>
            </label>
            <div class="col-md-8">
                <input class="form-control" id="zipCode" type="text" placeholder="zip code" formControlName="zipCode"
                [ngClass]="{'is-invalid': (formPartTab?.get('zipCode')?.touched ||
                        formPartTab?.get('zipCode')?.dirty) &&
                        !formPartTab?.get('zipCode')?.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="formPartTab?.get('zipCode')?.errors?.required">
                  Please enter a Zip code!
                </span>
                <span *ngIf="formPartTab?.get('zipCode')?.errors?.pattern">
                  Please enter a valid Zip code!
                </span>
              </span>
            </div>
          </div>            
    </div>
  </div>