<app-masm-page-title></app-masm-page-title>
<div class="layout-bios-page">
    IBM. PC. ROM. BIOS.
    <div class="form">
        <div class="masm-description form-group">
            <div class="col-xs-12">
                This IBM. PC. ROM. BIOS. at that time was a reallz big treasure, because the developers can see how the professionals developers
                made the BIOS. In that case no pardon, it should develop to full safe.
            </div>
        </div>
    </div>
    <div>
        <p-accordion>
            <p-accordionTab header="bios.asm" [selected]="false">
                <app-text-display id="textDisplay" *ngIf="isDisplayText" [visible]="isDisplayText" [fileName]="fileName" [fileContent]="fileContent"
                    name="textDisplay">
                </app-text-display>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>