<div class="layout-angular-page">
    <div class="form">
        <div class="angular-description form-group">
            <div class="col-xs-12">
                At that time, in the Dev Team 3 team, did not have enough developer at the company (where I'm working now)
                and I moved to the Dev Team 3 team by my superior's suggestion from the Java core team. (It was a good
                challenge for me) After a narrow training time, I'm with my colleagues started in the Gemini 3 team to
                develop the product which is a web-based Angular 2+ application. Therefore, I began to learn Angular. Nowadays I working in a cross functional team (Protect Team 1) with various nations developer. (India, USA.) with methodology of ScrumBan. The current website
                is my first Angular application, what I continuously upgraded with the newer Angular version.<br>
                <b>Currently I using Angular, <i>v{{ angularVersion }}</i></b> TypeScript v4.1.3, PrimeNG 11.2.0 with ng-bootstrap v9.0.1 and SASS. (I used a template, but already
                still in progress to create my <a href="https://lkovari.github.io/kovariLAB/#/home">own unique website</a>)
            </div>
        </div>
        <div>
            <label class="text-primary">
                <a class="angular-description"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/layout/angular-page/angular-page-content0">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a>Using async | in ngFor in the template (angular-page-content0.component.html)<br>
                <a class="angular-description"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/components/course/course.component.html">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a>Using ng-contained to minimize the DOM elements and using multiple slots Angular content projection like as the ng-content in the template (FileLoaderService.ts)<br>
                <a class="angular-description"
                    href="https://github.com/lkovari/KLHome/tree/master/src/app/shared/services/fileloader/file-loader.service.ts">
                    <img [src]="githubLogoPath" width="16" height="16">
                </a>Using shareReplay() RxJS operator to prevent duplicate call of API. like as in the file (CourseComponent.html). Based on Udemy: Reactive Angular Course (with RxJs)                
            </label>            
        </div>
        <div class="angular-courses">
            <div class="form-group">
                <label class="courses-subtitle">Completed Courses</label>
                <!--ng-template ngFor [ngForOf]="completedCourses$ | async" let-completedCourses let-i="index"></ng-template-->
                <div *ngIf="completedCourses$ | async as completedCoursesData; else loadingCompleted">
                    <div *ngIf="completedCoursesData.length > 0; else loadingCompleted">
                        <div *ngFor="let course of completedCourses$ | async; let ix = index">
                            <app-course>
                                <!-- content projection course-index slot content-->
                                <label class="course-index course-title">{{ completedCoursesData.length - ix }}.</label>
                                <!-- content projection course-completed slot content-->
                                <label class="course-completed course-title">{{ course.dateOfCompleted | date: 'mediumDate' }} : </label>
                                <!-- content projection course-author slot content-->
                                <label class="course-author course-title">{{ course.title + " " + course.author + " " }}<a href="{{ course.website }}">{{ course.website }}</a></label>
                                <!-- content projection course-duration slot content-->
                                <label class="course-duration course-title">{{ course.hours }}h.{{ course.minutes }}m</label>
                                <!-- Single slot without selector class -->
                                <label class="course-title text-success">{{ course.completed }}%.</label>
                            </app-course>
                        </div>
                    </div>
                    <div>
                        <label class="total-label">Total
                            <span class="total-value">{{ totalComplettedHours }}</span>
                        </label>
                    </div>
                </div>
                <ng-template #loadingCompleted>
                    <p>Loadning Completed Courses</p>
                </ng-template>
            </div>
            <div class="form-group">
                <label class="courses-subtitle">Courses are still in progress.</label>
                <div *ngIf="inProgressCourses$ | async as inProgressCoursesData; else loadingInprogress">
                    <div *ngIf="inProgressCoursesData.length > 0; else loadingInprogress">
                        <div *ngFor="let course of inProgressCoursesData; let ix = index">
                            <div class="course-style">
                                <app-course>
                                    <!-- content projection course-index slot content-->
                                    <label class="course-index course-title">{{ ix + 1 }}.</label>
                                    <!-- content projection course-completed slot content-->
                                    <label class="course-completed course-title">{{ course.dateOfCompleted | date: 'mediumDate' }} : </label>
                                    <!-- content projection course-author slot content-->
                                    <label class="course-author course-title">{{ course.title + " " + course.author + " " }}<a href="{{ course.website }}">{{ course.website }}</a></label>
                                    <!-- content projection course-duration slot content-->
                                    <label class="course-duration course-title">{{ course.hours }}h.{{ course.minutes }}m</label>
                                    <!-- Single slot without selector class -->
                                    <label class="course-title text-warning">{{ course.completed }}%.</label>
                                </app-course>                        
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="total-label">Total
                            <span class="total-value">{{ totalInProgressHours }}</span>
                        </label>
                    </div>                      
                </div>
                <ng-template #loadingInprogress>
                    <p>Loadning In progress Courses</p>
                </ng-template>                
            </div>
            <div class="form-group">
                <label class="courses-subtitle">Planned (to watch) Courses</label>
                <div *ngIf="plannedCurses$ | async as plannedCourseDta; else loadingPlanned">
                    <div *ngIf="plannedCourseDta.length > 0; else loadingPlanned">
                        <div *ngFor="let course of plannedCourseDta; let ix = index">
                            <div class="course-style">
                                <app-course>
                                    <!-- content projection course-index slot content-->
                                    <label class="course-index course-title">{{ ix + 1 }}.</label>
                                    <!-- content projection course-completed slot content-->
                                    <label class="course-completed course-title">{{ course.dateOfCompleted | date: 'mediumDate' }} </label>
                                    <!-- content projection course-author slot content-->
                                    <label class="course-author course-title">{{ course.title + " " + course.author + " " }}<a href="{{ course.website }}">{{ course.website }}</a></label>
                                    <!-- content projection course-duration slot content-->
                                    <label class="course-duration course-title">{{ course.hours }}h.{{ course.minutes }}m</label>
                                    <!-- Single slot without selector class -->
                                    <label class="course-title text-danger" >{{ course.completed }}%.</label>
                                </app-course>                           
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #loadingPlanned>
                    <p>Loadning Planned (to watch) Courses</p>
                </ng-template>                  
            </div>
        </div>
        <div>
            <label class="courses-subtitle">Collected Angular Interview questions by myself.</label>
            <pdf-viewer
                [src]="collectedAngularInterviewQApdf"
                [render-text]="true"
                [original-size]="false">
            </pdf-viewer>
        </div>
    </div>
</div>