<div class="layout-csharp-page">
  <div class="form">
    <p>
    Solution of the Five Colored pounced ribbons visible color detection problem
    in C#
    <a href="https://github.com/lkovari/RibbonsColorRecursive"
      >Can see the solution on my GitHub page</a
    >
    </p>
    <p>
      The solution is implemented with recursive and non-recursive algorithms
      also. The solution contains an interesting data model because to keep the
      data in a small place I use one bit (1 or no or true or false) to
      represent whether there is a hole on the ribbon or not.
    </p>
  </div>
</div>
