.layout-angular-playground-page9 {
    .sub-topic {
        padding: 1Rem;
    }
    .form-height {
        height: 38rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }    
    .horizontal-gap-right {
        padding-right: 0.5rem;
    }
    .horizontal-gap-left {
        padding-left: 0.5rem;
    }
    .spacer-horozontal-left {
        margin-left: 0.5rem;
    }
    .spacer-horozontal-right {
        margin-right: 0.5rem;
    }
    .form-border {
        border: solid blue 1px;
        padding: 1rem;
    }
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    .buttons-area {
        position: relative;
        top: 1em;
        left: 0rem;
    }
    .info-area {
        display: contents;
    }

    .the-board {
        .board-container {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            height: 11.2vh;
            width: 90vh;
        }

          
        .board-box {
            background: black;
            color: white;
            font-size: 0.7em;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;            
            height: auto;
            border: 0.5px solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
        }

        .board-box-top-border {
            border-top: 1px solid;
        }

        .board-box-bottom-border {
            border-bottom: 1px solid;
        }

        .board-box-left-border {
            border-left: 1px solid;
        }

        .board-box-right-border {
            border-right: 1px solid;
        }
    }
}
