<div>
    <app-page-header pageTitle="Awards & Certificates" pageSubtitle="" startTime="02/02/1998" endTime=""></app-page-header>
    <div class="awards-page-layout">
        <div class="separate-block">
            <label class="label-title">2018 ~ 20 yars of Service</label>
            <div class="align-image">
                <img class="img-responsive" src="/assets/images/sis-certificate-of-recognition20years.png"
                    alt="20 zears in service" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2016 ~ Caught at your best Q4</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/caught-at-your-best-2016-q4.png"
                    alt="20 zears in service" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2015 ~ Caught at your best Q4</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/caught-at-your-best-2015-q4.png"
                    alt="20 zears in service" border="0">
            </div>
        </div>
        <div class="separate-block">
            <label class="label-title">2014 ~ ICAGILE Certificate</label>
            <div class="align-image">
                <img class="img-responsive" src="assets/images/sis-icagile-cert2014.png" alt="20 zears in service"
                    border="0">
            </div>
        </div>
    </div>
</div>